<div class="container-fluid" id="main-container">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __('user.change_password'); %>
					</h2>
				</div>
				<div class="body">
					<form id="change_password" data-submit-btn-id="change-password-btn-id" method="post" class="on_click_submit" role="form">
						<div class="row clearfix">
							<!-- Old password -->
							<div class="col-sm-4">
								<div class="form-group">
									<div class="form-line">
										<input type="hidden" name="user_type" value="<%= USER_TYPE_RESTAURANT%>">
										<input type="hidden" name="_csrf" value="<%=(typeof csrf_token !== typeof undefined) ? csrf_token : '';%>">
										<label for="old_password" class="control-label"><%= __('user.old_password'); %> <span class="required"> *</span></label>
										<input name="old_password" id="old_password" type="password" class="form-control" data-blank-error-message="<%= __('user.please_enter_old_password') %>"/>
									</div>
									<span id="old_password_error" class="error"></span>
								</div>
							</div>
							<!-- Password -->
							<div class="col-sm-4">
								<div class="form-group">
									<div class="form-line">
										<label for="password" class="control-label"><%= __('user.password'); %> <span class="required"> *</span></label>
										<input name="password" id="password" type="password" class="form-control" data-blank-error-message="<%= __('user.please_enter_password') %>" data-min-length="<%=PASSWORD_MIN_LENGTH%>" data-min-length-error-message="<%= __('user.password_length_should_be_minimum_6_character') %>"/>
									</div>
									<span id="password_error" class="error"></span>
								</div>
							</div>
							<!-- Confirm Password -->
							<div class="col-sm-4">
								<div class="form-group">
									<div class="form-line">
										<label for="confirm_password" class="control-label"><%= __('user.confirm_password'); %> <span class="required"> *</span></label>
										<input name="confirm_password" id="confirm_password" type="password" class="form-control" data-blank-error-message="<%= __('user.please_enter_confirm_password') %>" data-min-length="<%= PASSWORD_MIN_LENGTH %>" data-min-length-error-message="<%= __('user.password_length_should_be_minimum_6_character') %>" data-confirm-target-id="password" data-confirm-error-message="<%= __('user.confirm_password_should_be_same_as_password') %>"/>
									</div>
									<span id="confirm_password_error" class="error"></span>
								</div>
							</div>
                        </div>

                        <button type="button"  id="change-password-btn-id"  <%- FRONT_LOADING_TEXT %> class="btn bg-brown btn-sm waves-effect btn-submit"> <%= __('system.submit'); %></button>
                        <a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"> <%= __("system.reset"); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("script") %>
<script type="text/javascript">
    /**
	* Function to submit form
	*/
    $(".btn-submit").click(function(){
		if(client_side_validation("change_password")){
			var btnId = $(this).attr("id");
			startTextLoading(btnId);
			ajax_submit("change_password",function(status,response){
				if(status){
					window.location.href = response.redirect_url;
				}else{
					stopTextLoading(btnId);
				}
			});
		}
    });
</script>
