<div class="sign_box">
	<div class="form_section">
		<figure><img src="<%= WEBSITE_IMG_URL %>logo.png" alt="img"></figure>
		<form id="forgot-password" data-submit-btn-id="forgot-password-btn-id" method="post" class="on_click_submit" role="form">
			<input type="hidden" name="_csrf" value="<%=(typeof csrf_token !== typeof undefined) ? csrf_token : '';%>">
			<div class="form-group">
				<label for="email_phone"><%= __("user.select_type");%></label>
				<select name="email_phone" id="email_phone" class="form-control">
					<% Object.keys(EMAIL_PHONE_DROPDOWN).map(typeData=>{ %>
						<option value="<%=typeData%>"><%= EMAIL_PHONE_DROPDOWN[typeData]; %></option>
					<% }); %>
				</select>
			</div>
			<div class="form-group user-email">
				<label for="email"><%= __("user.email");%> *</label>
				<input type="text" class="form-control" name="email"  id="email" placeholder="<%= __("user.email");%> *" data-blank-error-message="<%= __("user.please_enter_email") %>" data-email-error-message="<%= __("user.please_enter_valid_email_address") %>">
				<span id="email_error" class="error"></span>
			</div>
			<div class="form-group user-mobile hideMe">
				<label for="mobile_number"><%= __("user.mobile_number");%> *</label>
				<input type="text" class="form-control novalidate" name="mobile_number" id="mobile_number" placeholder="<%= __("user.mobile_number");%> *" data-blank-error-message="<%= __("user.please_enter_mobile_number") %>" data-allowed-pattern="<%= MOBILE_NUMBER_REGULAR_EXPRESSION %>" data-pattern-error-message="<%= __("user.invalid_mobile_number") %>" disabled>
				<span id="mobile_number_error" class="error"></span>
			</div>
			<div class="submit_btn">
				<a href="<%= WEBSITE_URL%>login" ><%= __("forgot_password.back_to_login"); %></a>
                <button type="button" id="forgot-password-btn-id" <%- FRONT_LOADING_TEXT %> class="btn btn-default btn-submit">
					<%= __("admin.system.submit"); %>
				</button>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
</div>

<%- contentFor('css') %>
   <link rel="stylesheet" href="<%=WEBSITE_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript">
		/**
		 * Function to submit form
		 */
		$(".btn-submit").click(function(){
			if(client_side_validation("forgot-password")){
				var btnId = $(this).attr("id");
				startTextLoading(btnId);
				ajax_submit("forgot-password",function(status,response){
					if(status){
						window.location.href = response.redirect_url;
					}else{
						stopTextLoading(btnId);
					}
				});
			}
		});

		/**For email and mobile number  */
		$(document).on('change',"#email_phone",function(){
			var data = $(this).val();
			$("form input").attr("disabled",false).removeClass("novalidate");
			$("form span.error").text("");
			if(data == '<%=EMAIL%>'){
				$(".user-email").removeClass('hideMe');
				$(".user-mobile").addClass('hideMe').find("input").attr("disabled",true).addClass("novalidate");
			}
			if(data == '<%=MOBILE_NUMBER%>'){
				$(".user-mobile").removeClass('hideMe');
				$(".user-email").addClass('hideMe').find("input").attr("disabled",true).addClass("novalidate");
			}
		});
	</script>
