<div class="sign_box">
	<div class="form_section">
		<figure><img src="<%= WEBSITE_IMG_URL %>logo.png" alt="img"></figure>
		<form id="reset-password" data-submit-btn-id="password-reset-btn-id" method="post" class="on_click_submit" role="form">
			<input type="hidden" name="_csrf" value="<%=(typeof csrf_token !== typeof undefined) ? csrf_token : '';%>">
			<input type="hidden" name="user_type" value="<%=(typeof user_type !== typeof undefined) ? user_type : '';%>">
			<input name="validate_string" type="hidden"  id="validate_string" class="form-control" value="<%=validate_string %>"/>
			<div class="form-group">
				<label for="password"><%= __("reset_password.new_password");%>*</label>
				<input type="password" id="password" class="form-control" name="password" placeholder="<%= __("reset_password.new_password"); %> *" data-blank-error-message="<%= __("reset_password.please_enter_password") %>" data-min-length-error-message="<%= __("reset_password.password_length_should_be_minimum_6_character") %>" data-min-length="<%= PASSWORD_MIN_LENGTH %>"/>
				<span id="password_error" class="error"></span>
			</div>
			<div class="form-group">
				<label for="confirm_password"><%= __("reset_password.confirm_password");%>*</label>
				<input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="<%= __("reset_password.confirm_password"); %> *" data-blank-error-message="<%= __("reset_password.please_enter_confirm_password") %>" data-confirm-error-message="<%= __("reset_password.confirm_password_should_be_same_as_password") %>" data-confirm-target-id="password" data-min-length-error-message="<%= __("reset_password.confirm_password_length_should_be_minimum_6_character") %>" data-min-length="<%= PASSWORD_MIN_LENGTH %>">
				<span id="confirm_password_error" class="error"></span>
			</div>

			<div class="submit_btn">
				<a href="<%= WEBSITE_URL%>login" ><%= __("reset_password.back_to_login"); %></a>
                <button type="button" id="password-reset-btn-id" <%- FRONT_LOADING_TEXT %> class="btn btn-default btn-submit">
					<%= __("system.submit"); %>
				</button>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
</div>

<%- contentFor("script") %>
	<script type="text/javascript">

		/**
		 * Function to submit form
		 */
		$(".btn-submit").click(function(){
			if(client_side_validation("reset-password")){
				var btnId = $(this).attr("id");
				startTextLoading(btnId);
				ajax_submit("reset-password",function(status,response){
					if(status){
						window.location.href = response.redirect_url;
					}else{
						stopTextLoading(btnId);
					}
				});
			}
		});
	</script>
