<div class="container-fluid" id="main-container">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __('user.edit_profile'); %>
					</h2>
				</div>
				<div class="body">
					<form id="update-profile" data-submit-btn-id="update-profile-btn-id" method="post" class="on_click_submit" role="form">
						<div class="row clearfix">
							<!-- First Name -->
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<input type="hidden" name="_csrf" value="<%=(typeof csrf_token !== typeof undefined) ? csrf_token : '';%>">
										<label for="first_name" class="control-label"><%= __('user.first_name'); %><span class="required"> *</span> </label>
										<input name="first_name" id="first_name" type="text" class="form-control" value="<%=(result && typeof result.first_name !== typeof undefined) 	?	result.first_name :''; %>" data-blank-error-message="<%= __('user.please_enter_first_name') %>"/>
									</div>
									<span id="first_name_error" class="error"></span>
								</div>
							</div>
							<!-- Last Name -->
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="last_name" class="control-label"><%= __('user.last_name'); %><span class="required"> *</span> </label>
										<input name="last_name" id="last_name" type="text" class="form-control" value="<%= (result && typeof result.last_name !== typeof undefined) 	?	result.last_name :''; %>" data-blank-error-message="<%= __('user.please_enter_last_name') %>"/>
									</div>
									<span id="last_name_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<!-- Email -->
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line  cursor-not-allowed">
										<label for="email" class="control-label"><%= __('user.email'); %><span class="required"> *</span> </label>
										<input name="email" id="email" type="text" class="form-control readonly" value="<%= (result && typeof result.email !== typeof undefined) 	?	result.email :''; %>" readonly="true" data-blank-error-message="<%= __('user.please_enter_email') %>" data-email-error-message="<%= __('user.please_enter_valid_email_address') %>"/>
									</div>
									<span id="email_error" class="error"></span>
								</div>
							</div>
							<!-- Mobile Number -->
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line  cursor-not-allowed">
										<label for="mobile_number" class="control-label"><%= __('user.mobile_number'); %><span class="required"> *</span> </label>
										<input name="mobile_number" id="mobile_number" type="text" class="form-control readonly" value="<%= (result && typeof result.mobile_number !== typeof undefined) 	?	result.mobile_number :''; %>" readonly="true" data-blank-error-message="<%= __('user.please_enter_mobile_number') %>" data-allowed-pattern="<%= MOBILE_NUMBER_REGULAR_EXPRESSION %>" data-pattern-error-message="<%= __('user.invalid_mobile_number') %>"/>
									</div>
									<span id="mobile_number_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<input name="user_type" id="user_type" type="text" value="<%= USER_TYPE_DRIVER %>" >
                            <!-- Gender -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-lie">
                                        <label for="gender" class="control-label"><%= __('user.gender'); %><span class="required"> * </span> </label>
                                        <br />
                                        <%
                                        var userGender	= (result.gender != "") 	? 	result.gender 	: MALE;
                                        if(GENDER_DROPDOWN && Object.keys(GENDER_DROPDOWN).length > 0){
                                            Object.keys(GENDER_DROPDOWN).map(gender=>{
                                                var selected = (gender == userGender) ? 'checked' : '';
                                        %>
                                            <input name="gender" type="radio" class="with-gap radio-col-black" id="<%= gender %>" value="<%= gender %>" <%= selected %>/>
                                            <label for="<%= gender %>"><%= GENDER_DROPDOWN[gender] %></label>
                                        <%
                                            });
                                        }%>
                                    </div>
                                    <span id="gender_error" class="error"></span>
                                    <div class="form-line">
                                        <input name="post_code" id="post_code" type="text" class="form-control" placeholder="Post Code" value=""/>
                                    </div>
                                    <div class="form-line">
                                        <input name="address" id="address" type="text" class="form-control" placeholder="Address" value=""/>
                                    </div>
                                    <div class="form-line">
                                        <input name="driving_experience" id="driving_experience" type="text" class="form-control" value="" placeholder="driving experience"/>
                                    </div>
                                    <div class="form-line">
                                        <input type="file" class="form-control" name="profile_image">
                                    </div>
                                </div>
                            </div>
						</div>
						<button type="button"  id="update-profile-btn-id"  <%- FRONT_LOADING_TEXT %> class="btn bg-pink btn-sm waves-effect btn-submit"><i class="material-icons font-14">save</i> <%= __('system.submit'); %></button>

						<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("system.reset"); %></button></a>

						<a href="<%= WEBSITE_URL%>bookings" ><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i> <%= __('system.cancel'); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("script") %>
	<script type="text/javascript">
		/**
		 * Function to submit form
		 */
		$(".btn-submit").click(function(){
			if(client_side_validation("update-profile")){
				var btnId = $(this).attr("id");
				startTextLoading(btnId);
				ajax_submit("update-profile",function(status,response){
					if(status){
						window.location.href = response.redirect_url;
					}else{
						stopTextLoading(btnId);
					}
				});
			}
		});
	</script>
