<%
	let languageCode		=	(item_display_lng_code) ? item_display_lng_code : DEFAULT_LANGUAGE_CODE;
	let branchDetails		=	branch_details;
	var customerName		= 	(user_detail.full_name)				?	user_detail.full_name						:"";
	let restaurantName		=	(branchDetails.restaurant_name) 	?	branchDetails.restaurant_name[languageCode] :'';
	let deliveryTime		=	(branchDetails.delivery_time) 		? 	branchDetails.delivery_time 				:'';
	let preparationTime		=	(branchDetails.preparation_time) 	? 	branchDetails.preparation_time 				:'';
	let minOrderLimit		=	(branchDetails.minimum_order_limit) ? 	branchDetails.minimum_order_limit 			:'0';
	let paymentMethods		=	(branchDetails.payment_methods) 	? 	branchDetails.payment_methods 				:'';
	let branchName			=	(branchDetails.name) 				?	branchDetails.name[languageCode] 	:'';
	let branchAddress		=	(branchDetails.address) 			?	branchDetails.address 						:'';
	let hotLineNumber		=	(branchDetails.phones) 				?	branchDetails.phones[BRANCH_HOT_LINE_NUMBER_ATTRIBUTE_ID] 	:'';
	let managerNumber		=	(branchDetails.phones) 				?	branchDetails.phones[BRANCH_MANAGER_ATTRIBUTE_ID] 	:'';
	let paymentsDetail		=	[];

	if(paymentMethods.length > 0){
		paymentMethods.map(item=> {
			if(item.slug != WALLET_PAYMENT){
				if(item.title && item.title[[languageCode]]) paymentsDetail.push(item.title[languageCode]);
			}
		});
	}
%>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="modal-dialog modal-lg"  role="document">
			<div class="modal-content itemsearchlist">
				<div class="modal-header modal-header-seperator p-l-20 p-b-0">
					<h2 class="modal-title">
						<%= __("admin.order_food.previous_orders"); %> (<%= toTitleCase(customerName) %>)
					</h2>
					<ul class="header-dropdown m-r--5 order_back_button">
						<li>
							<a href="javascript:void(0);" class="checkout" data-action="<%= WEBSITE_ADMIN_URL+'place_order/'+user_id%>" data-restaurant-id="<%= restaurant_id%>" data-branch-id="<%= branch_id%>" data-user-id="<%= user_id%>" data-area-id="<%= area_id%>">
								<button type="button" class="btn bg-indigo btn-sm waves-effect noHover" id="back_button">
									<%= __("admin.order.back"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="modal-header modal-header-seperator p-l-20 p-b-0">
					<div class="restaurantlist-timing">
						<div class="row clearfix">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-sm-4">
									<figure>
										<img class="img-fluid set_image_dim-242-158" src="<%= RESTAURANT_FILE_URL+branchDetails.image %>" onerror="this.src='<%= NO_IMAGE_AVAILABLE%>'">
									</figure>
								</div>
								<div class="col-sm-4">
									<div class="restauranttiming inline-data">
										<strong class="restaurant-name"><%= restaurantName%></strong>
										<ul>
											<li><span><strong><%= __('admin.place_order.branch_name')%> : </strong><%= branchName%></span></li>
											<li><span><strong><%= __('admin.place_order.branch_address')%> : </strong><%= branchAddress%></span></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="restauranttiming inline-data">
										<ul>
											<li><span class="restaurant-payment"><strong>Payment Detail :</strong> <%= (paymentsDetail.length > 0) ? paymentsDetail.join(', ') : PAYMENT_METHODS[CASH_PAYMENT]%></span></li>
											<li>
												<span><strong><%= __('admin.order_food.hot_line');%>: </strong><%= hotLineNumber %></span>
												<span><strong><%= __('admin.order_food.manager');%>: </strong><%= managerNumber %></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-sm-4">
									<strong><%= __('admin.place_order.minimum_order')%> :</strong> <%= currencyFormat(minOrderLimit)%></span>
								</div>
								<div class="col-sm-4">
									<strong><%= __('admin.order_food.preparation_time');%>: </strong><%= preparationTime %> <%= (preparationTime) ? __('admin.order_food.min') : "";%>
								</div>
								<div class="col-sm-4">
									<strong><%= __('admin.order_food.delivery_time');%>: </strong><%= deliveryTime %> <%= (deliveryTime) ? __('admin.order_food.min') : "";%>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-body padding-20">
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="table-responsive">
								<table id="datatable_order_listing" class="row-border hover table table-bordered cb-data-table full-length-header" cellspacing="0" width="100%">
									<thead class="cart_table_header">
										<tr>
											<th></th>
											<th><%= __("admin.orders.order_id"); %></th>
											<th><%= __("admin.orders.order_date"); %></th>
											<th><%= __("admin.orders.net_order_amount"); %></th>
											<th><%= __("admin.orders.action"); %></th>
											<th><%= __("admin.orders.item_name"); %></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
/** For branch area dataTable **/
	$(document).ready(function() {
		let result = <%-JSON.stringify(result); %>
		var dataTable = $('#datatable_order_listing').DataTable({
			"order"		: 	[[1,'desc']],
			//~ "sDom"		:	"ftr",
			//~ "dom"		: 	'Plfrtip',
			//~ "searchPanes": {
				//~ "controls": false
			//~ },
			"serverSide": 	false,
			"scrollX"	: 	true,
			"paging"	:	false,
			"data"		:	result,
			"columns"	: 	[
				{
					"class":          "details-control",
					"orderable":      false,
					"data":           null,
					"defaultContent": ""
				},
				{"data":"unique_order_id"},
				{
					"data"		 : 'order_date',
					"searchable" : 	false,
					"render" 	 : 	function(order_date){
						return moment(order_date).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
					}
				},
				{
					"data"		 : 'net_amount',
					"searchable" : 	false,
					"render" 	 : 	function(netAmount){
						return  (typeof netAmount !== typeof undefined) ? currencyFormat(netAmount) :'';
					}
				},
				{
					"data"			: {},
					"orderable"		: false,
					"searchable"	: false,
					"render" 		: function(result){
						var id 			= (result._id)			? result._id			: "";
						return	'<a href="javascript:void(0);" class="btn btn-warning btn-sm waves-effect modify_order" id='+id+'>'+'<%= __("admin.user_management.reorder"); %>'+'</a>';
					}
				},
				{
					"data"			: {},
					"orderable"		: false,
					"visible"		: false,
					"render" 		: function(result){
						var orderItems 			= (result.order_items)			? result.order_items			: [];
						var itemArray = [];
						orderItems.map(item=>{
							var name = (item.item_name) ? (item.item_name['<%= languageCode %>']) : '';
							var nameAr = (item.item_name) ? (item.item_name['<%= ARABIC_LANGUAGE_CODE %>']) : '';
							if(name) itemArray.push(name);
							if (nameAr) itemArray.push(nameAr);
						});
						return	itemArray.toString();
					}
				},
			],
			"columnDefs": [
				{ className: "unique_order_id", "targets": [ 2 ] }
			]
		});
		dataTable.columns.adjust();
		// Array to track the ids of the details displayed row
		var detailRows = [];
		$('#datatable_order_listing tbody').on( 'click', 'tr td.details-control', function () {
			var tr = $(this).closest('tr');
			var row = dataTable.row( tr );
			var idx = $.inArray( tr.attr('id'), detailRows );
			var table = $('#datatable_order_listing').DataTable();
			if ( row.child.isShown() ) {
				tr.removeClass( 'details' );
				row.child.hide();
				// Remove from the 'open' array
				detailRows.splice( idx, 1 );
			}else{
				tr.addClass( 'details' );
				row.child( format( row.data() ) ).show();
				// Add to the 'open' array
				if ( idx === -1 ) {
					detailRows.push( tr.attr('id') );
				}
			}
		} );
		// On each draw, loop over the `detailRows` array and show any child rows
		dataTable.on( 'draw', function () {
			$.each( detailRows, function ( i, id ) {
				$('#'+id+' td.details-control').trigger( 'click' );
			} );
		});
	});


	function format(d){
		var orderItems		=	(d.order_items ) ? 	d.order_items 			:"";
		var html	='<div class="row">';
			html	+='<div class="col-sm-12 table-responsive">';
			html	+='<table class="table table-hover" width="100%">';
			html 	+='<thead class="cart_table_header"><tr><th width="15%"><%= __("admin.order.items"); %></th><th width="10%"><%= __("admin.orders.quantity"); %></th><th  width="15%"><%= __("admin.orders.price"); %></th></tr></thead>';
			html	+=	'<tbody>';
			orderItems.map((mainData,key)=>{
				html 	+=	"<tr  class='add_new_items disable'>";
				/**Item Name In English**/
				var itemName	= (mainData.item_name) 	? (mainData.item_name['<%= languageCode %>']) : '';
				var itemImage	= (mainData.item_image) ? (mainData.item_image) : '';
				var itemPrice	= (mainData.price)		? (mainData.price) : '';
				var itemHtml	= '';
				if(mainData.unit_lists && mainData.unit_lists.length > 0){
					var text	=	(mainData.item_type == '<%= HALF_AND_HALF_ITEM%>') ? '<%= __("admin.order.half_pizza");%>' : '<%= __("admin.order.pizza");%>';
					if(mainData.item_type == '<%= HALF_AND_HALF_ITEM%>' || mainData.item_type == '<%= DEAL_ITEM%>'){
						mainData.unit_lists.map((data,key)=>{
							let extraItemsArray = data.extra_items ? data.extra_items : [];
							let extraItemHtml = "";
							if(extraItemsArray && extraItemsArray.length > 0){
								extraItemsArray.map((exItemRecords,parentIndex)=>{
									exItemRecords.extra_item_ids.map((tmpExItem,index)=>{
										let extraItemName = tmpExItem.extra_item_name && tmpExItem.extra_item_name['<%= languageCode %>'] ? tmpExItem.extra_item_name['<%= languageCode %>'] : "";
										extraItemHtml += (parentIndex != 0 ||  index != 0) ? ', ' : '';
										extraItemHtml += extraItemName;
									});
								});
							}
							key	=	key+1;
							var unitNames	=	(data.unit_name['<%= languageCode %>']) ? data.unit_name['<%= languageCode %>']+', ':"";
							var doughNames	=	(data.dough_name['<%= languageCode %>']) ? data.dough_name['<%= languageCode %>']+', ':"";
							var seclectorNames	=	(data.selector_name['<%= languageCode %>']) ? data.selector_name['<%= languageCode %>']:"";
							itemHtml	+=	key+'. '+text+': ' +unitNames+doughNames+seclectorNames+'<br/>';

							if(extraItemHtml){
								itemHtml += '<span><%= __("admin.order.extra_item");%>: </span><span class="text-success font-13"><strong>'+extraItemHtml+'</strong></span>';
							}
						});
					}
				}else{
					if(mainData.unit_name){
						itemHtml += (mainData.unit_name['<%= languageCode %>']) ? mainData.unit_name['<%= languageCode %>']+", " :"";

						itemHtml += (mainData.dough_name && mainData.dough_name['<%= languageCode %>']) ? mainData.dough_name['<%= languageCode %>'] :"";

						itemHtml += "<br/>";
					}
				}
				let mainExtraItemHtml = "";
				if(mainData.extra_items && mainData.extra_items.length > 0){
					mainData.extra_items.map((mainExtraItemRecords,index)=>{
						let extraItemName = mainExtraItemRecords.extra_item_name && mainExtraItemRecords.extra_item_name['<%= languageCode %>'] ? mainExtraItemRecords.extra_item_name['<%= languageCode %>'] : "";
						mainExtraItemHtml += (index != 0) ? ', ' : '';
						mainExtraItemHtml += extraItemName;
					});
				}
				itemHtml += (mainExtraItemHtml) ? '<%= __("admin.order.extra_item");%>'+': </span> <span class="text-success font-13"><strong>'+mainExtraItemHtml+'</strong></span>' : '';
				html 	+=	"<td><div class='media1'>";
				// if(itemImage != ""){
				// 	html += "<a class='thumbnail1 pull-left' href='javascript:void(0)'><img class='media-object set_image_med_dim' src='<%= ITEMS_FILE_URL %>"+itemImage+"' onerror='this.src=<%= NO_IMAGE_AVAILABLE%>' ></a>";
				// }
				html 	+=	"<div class='media-body pl5'><h4 class='media-heading'>"+itemName+"</h4></div></div>";
				html 	+=	"</div></td>";
				html 	+=	"<td>"+mainData.qty+"</td>";
				html 	+=	"<td >"+currencyFormat(mainData.net_amount)+"</td>";
				html 	+=	"</tr>";
				if(itemHtml != ""){
					html 	+=	"<tr  class='add_new_items disable'>";
					html 	+=	"<td colspan='5' class='cart_item_note'>"+itemHtml+"</td>";
					html 	+=	"</tr>";
				}
			});
			html	+=	'</tbody></table>';
			html	+='</div></div></div>';
		return html;
	}

	/**
	* Function to change current order
	*/
	$(".modify_order").click(function() {
		var btnId = $(this).attr("id");
		swal({
			title: '<%= __("admin.system.are_you_sure")%>',
			text: "<%- __("admin.order.you_want_to_reorder_this_order")%>",
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "<%= __("Yes")%>",
			closeOnConfirm: true,
			showLoaderOnConfirm: false,
		}, function (isConfirm) {
			 if (isConfirm) {
				startTextLoading(btnId);
				$.ajax({
					url 	:	"<%=admin_list_url%>/add_reorder_item_cart/"+btnId,
					type	: 	"POST",
					data	  : {branch_id : '<%= branch_id%>',restaurant_id:'<%= restaurant_id%>',address_id:'<%= address_id%>',user_id:'<%= user_id%>','delivery_by': '<%= delivery_by %>', area_id: '<%= area_id %>',scheduled_time:'<%= scheduled_time %>',is_scheduled: '<%= is_scheduled %>'},
					success: function(response){
						if(response.status == 'error'){
							notice('error',response.message);
							stopTextLoading(btnId);
						}else{
							$('#form_modal').html(response);
						}
					},
				});
			}else {
				stopTextLoading('btnId');
			}
		});
	});

	/**
	 * Function to push item into cart
	 */
	$('.checkout').click(function(){
		var url	=	$(this).attr('data-action');
		swal({
			title			: '<%= __("admin.system.are_you_sure")%>',
			text			: '<%- __("admin.order.previous_selection_will_reset")%>',
			type			: 'warning',
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: '<%= __("Yes")%>',
			closeOnConfirm: true,
			showLoaderOnConfirm: false,
		}, function (isConfirm) {
			 if (isConfirm) {
				startTextLoading('back_button');
				$.ajax({
					url 	:	url,
					type	: 	"POST",
					data	:	{'branch_id':"<%=branch_id%>",'restaurant_id':"<%=restaurant_id%>",'user_id':"<%=user_id%>", 'area_id': "<%=area_id%>"},
					success	: 	function(res){
						$('#form_modal').html(res);
						$('.open-categories[data-restaurant-id=<%=restaurant_id%>]').trigger('click');
					}
				});
			}else {
				stopTextLoading('back_button');
			}
		});

	});

</script>
