<div class="success_section">
    <section class="contact-content page-content">
		<div class="container">
			<!--Search Start -->
			<div class="thankyoubox">
				<div class="thankyouboxcenter">
					<div class="thankyou_card">
						<a href="javascript:void(0);">
							<!-- Crv White Label -->
							<img src="<%= WEBSITE_IMG_URL;%>logo.png" alt="Profile image">
						</a>
					</div>
					<div class="payment_description">
						<h2>Thank you!</h2>
						<p>Your order has been placed successfully. We will keep you updated. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
