<%
	var menuDetails	= (typeof menu_details !== typeof undefined && menu_details) ? menu_details :{};
%>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<form data-modal-id="form_modal" id="assign_branch_form" data-submit-btn-id="assign_branch_btn" method="post" action="<%=list_url%>/assign_branches/<%=menu_id%>"class="on_click_submit" role="form">
			<div class="modal-dialog modal-dialog-centered modal-lg"  role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-seperator p-l-20 p-b-0">
						<h2 class="modal-title">
							<%= __("menu_manager.assign_branch"); %>
						</h2>
					</div>
					<div class="modal-body padding-20">
						<div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="branch" class="control-label">
                                            <%= __("menu_manager.select_branch"); %>
                                            <span class="required"> *</span>
                                        </label>
                                        <select name="branch" id="branch" <%=(menuDetails.menu_type != STANDALONE_MENU) ? 'multiple' : ''%>   data-placeholder="<%=__('menu_manager.select_branch') %>"class="form-control model_select_box chosen">
                                          <%- result%>
                                        </select>
                                    </div>
                                    <span id="branch_error" class="error"></span>
                                </div>
                            </div>
						</div>
					</div>
					<div class="modal-footer modal-footer-seperator">
						<button type="button" id="assign_branch_btn" class="btn bg-indigo btn-sm waves-effect btn-submit" <%- ADMIN_LOADING_TEXT %> > <%= __("system.submit"); %></button>
						<a href="javascript:void(0);" onclick="$('#form_modal').modal('hide');" ><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><%= __("system.cancel"); %></button></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function () {
		// For chosen
		$(".chosen").chosen();
	});

	/**
	 * Function to submit form
	 */
	$(".btn-submit").click(function(){
		var btnId = $(this).attr("id");
		startTextLoading(btnId);
		ajax_submit("assign_branch_form",function(status,response){
			if(status){
				$('#form_modal').modal("hide");
				if(typeof dataTable !== typeof undefined) dataTable.ajax.reload(null, false);
				if(response.status && response.message) notice(response.status,response.message);
			}else{
				stopTextLoading(btnId);
			}
		});
	});
</script>