<div class="container-fluid" id="main-container">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form id="add-slab" action="<%=list_url+'/assignment/'+branch_id%>" data-submit-btn-id="slab-add-btn-id" method="post" class="freezed_event" role="form">
				<div class="body">
					<div class="row clearfix assignment_slab">
						<div class="col-sm-12">
							<table class="table align-items-center table-flush" border="0">
								<thead>
									<tr>
										<th class="align-center" width="25%"><%= __("pending_branch_assignment.assignment_slabs.min"); %></th>
										<th class="align-center" width="25%"><%= __("pending_branch_assignment..assignment_slabs.max"); %></th>
									</tr>
								</thead>
								<tbody>
									<%
										for(i = 0;i < ASSIGNMENT_SLAB_LIMIT;i++){	%>
											<input name="slab_data[<%= i %>][order]" type="hidden" class="form-control" value="<%= i %>"/>
											<input name="slab_data[<%= i%>][assignment_id]" type="hidden" class="form-control" value="<%= (result && result[i]) ? result[i]._id : ''%>"/>
											<tr>
												<td>
													<div class="form-group">
														<div class="form-line">
															<input name="slab_data[<%= i%>][min_distance]" type="text" class="form-control" value="<%= (result && result[i]) ? result[i].min_distance : ''%>"/>
														</div>
														<span id="slab_data_<%= i%>_min_distance_error" class="error"></span>
													</div>
												</td>
												<td>
													<div class="form-group">
														<div class="form-line">
															<input name="slab_data[<%= i%>][max_distance]" type="text" class="form-control" value="<%= (result && result[i] && result[i].max_distance) ? result[i].max_distance : ''%>"/>
														</div>
														<span id="slab_data_<%= i%>_max_distance_error" class="error"></span>
													</div>
												</td>
											</tr><%
										}
									%>
								</tbody>
							</table>
						</div>
						<div class="col-sm-2"></div>
					</div>
					<div class="text-center">
						<button type="button"  id="slab-add-btn-id" class="btn bg-pink btn-sm waves-effect btn-submit " <%- FRONT_LOADING_TEXT %> ><%= __("system.submit"); %></button>
					</div>
				</div>
			</form>
	    </div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		/** Call to freezed event **/
		updateFreezedEvent();
	   /* Function to submit form */
        $(".btn-submit").click(function () {
            var btnId = $(this).attr("id");
            startTextLoading(btnId);
            ajax_submit("add-slab", function (status, response) {
				stopTextLoading(btnId);
                if (status) {
					$("#add-slab span.error").html("");
					if(response.status && response.message) notice(response.status,response.message);
					$(".branch-panel-link.active").find("a").trigger("click");
				}
            });
        });
    });
</script>