<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
			<div class="panel panel-col-pink">
				<div class="panel-heading" role="tab" id="panel-heading-id">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							aria-controls="panel-collapse-id">
							<%= __('admin.system.search'); %>
							<span class="pull-right collapse-toggle-icon"></span>
						</a>
					</h4>
				</div>
				<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
					<div class="panel-body">
						<form id="searchForm" name="searchForm">
							<div class="row clearfix dataTables_wrapper">
								<!-- Search by action -->
								<div class="col-xs-12 col-sm-4">
									<div class="form-group">
										<div class="form-line">
											<select class="form-control show-tick" id="column_filter_0"  onChange="searchDatatable(0)" name="action">
												<option value=""><%=__("admin.user_management.search_by_action");%></option>
												<% Object.keys(RECLAIM_LOGS_ACTION_TYPE).map(key=>{
													if(key != RECLAIM_LOGS_VERIFY_MOBILE_ACTION && key != RECLAIM_LOGS_VERIFY_EMAIL_ACTION ) {
													%>
													<option value="<%=key%>"><%= RECLAIM_LOGS_ACTION_TYPE[key]%></option>
													<% }
												}); %>
											</select>
										</div>
									</div>
								</div>
								<!-- datatable reset -->
								<div class="col-xs-12 col-sm-2">
									<div class="form-group">
										<button type="button" id="reset" class="btn btn-danger btn-sm waves-effect"><%= __("admin.system.reset")%></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					<%= __("admin.user_management.accounts"); %>
				</h2>
			</div>
			<div class="body">
				<table id="datatable-customer-account-listing" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th width="25%"><%= __("admin.system.action"); %></th>
							<th width="25%"><%= __("admin.user_management.action_taken_by"); %></th>
							<th width="25%"><%= __("admin.user_management.channel"); %></th>
							<th width="25%"><%= __("admin.system.created"); %></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	/** Function to initialize datatable and get server side data*/
	var dataTable =	"";
	var RECLAIM_LOGS_ACTION_TYPE = <%-JSON.stringify(RECLAIM_LOGS_ACTION_TYPE)%>;
	var SYSTEM_CHANNEL  		 = <%-JSON.stringify(SYSTEM_CHANNEL)%>;

	$(document).ready(function() {
		dataTable 	= 	$('#datatable-customer-account-listing').DataTable({
			"bStateSave"	: true,
			"fnStateSave"	: function (oSettings, oData) {
				localStorage.setItem('DataTables', JSON.stringify(oData));
			},
			"fnStateLoad"	: function (oSettings) {
				return JSON.parse(localStorage.getItem('DataTables'));
			},
			"order"		: 	[[3,"desc"]],
			"sDom"		:	"ltipr",
			"serverSide": 	true,
			"scrollX"	: 	true,
			"lengthMenu":   PAGING_LENGTH_MENU,
			"columns"	: 	[
				{
					"data"		 : "action",
					"field_name" : "action",
					"field_type" : "<%=EXACT_FIELD%>",
					"render" 	 : 	function(action){
						return RECLAIM_LOGS_ACTION_TYPE[action];
					}
				},
				{
					"data"		 : "action_taken_by",
					"orderable"  : false,
					"searchable" : false,
				},
				{
					"data"		 : "channel",
					"searchable" :  false,
					"orderable"  :  false,
					"render" 	 : 	function(channel){
						return SYSTEM_CHANNEL[channel];
					}
				},
				{
					"data"			: 'created',
					"searchable"	: false,
					"render" 		: function(created){
						return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT);
					}
				},
			],
			"ajax":{
				url 	: "<%=admin_list_url%>/customer_account_list/"+'<%= user_id %>',
				type	: "POST",
				dataSrc	: function(res){
					return res.data;
				}
			}
		});

		/** Refresh bootstrap select box  **/
		$(".show-tick").selectpicker('refresh');
	});

	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query= $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	}//end searchDatatable()
</script>

