<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<div class="row clearfix dataTables_wrapper">
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_1"  onkeyup="searchDatatable(1)" placeholder="<%= __("admin.email_actions.search_by_actions"); %>">
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_2"  onkeyup="searchDatatable(2)" placeholder="<%= __("admin.email_actions.search_by_options"); %>">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<!-- Start Listing -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.email_actions.email_actions"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>/add">
								<button type="button" class="btn bg-indigo waves-effect">
									<%= __('admin.email_actions.add_email_actions'); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="30%"><%= __("admin.email_actions.title"); %></th>
								<th><%= __("admin.email_actions.action"); %></th>
								<th><%= __("admin.email_actions.options"); %></th>
								<th><%= __("admin.system.action"); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%-contentFor("script") %>
<script type="text/javascript">
	/** Function to initialize datatable and get server side data*/
	var dataTable ="";
	$(document).ready(function() {
		dataTable 	= 	$('#datatable-listing').DataTable({
			"order"		: 	[[0, "desc"]],
			"sDom"		:	"ltipr",
			"serverSide": 	true,
			"scrollX"	: 	true,
			"lengthMenu":	PAGING_LENGTH_MENU,
			"columns"	: 	[
				{
					"data"		: 'title',
					"searchable": false
				},
				{
					"data": 'action'
				},
				{
					"data": 'options'
				},
				{
					"data"			: 	"_id",
					"orderable"		:   false,
					"searchable"	: 	false,
					"render" 		: 	function(id){
						var dropDownButton 	=	''+
						'<div class="btn-group">'+
							'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
								'<%= __("admin.system.action"); %> '+
								'<span class="caret"></span>'+
							'</button>'+
							'<ul class="dropdown-menu">'+
								/** Edit Link **/
								'<li>'+
									'<a href="<%=admin_list_url%>/edit/'+id+'" class="waves-effect waves-block">'+
										' <%= __("admin.system.edit"); %>'+
									'</a>'+
								'</li>'+
								/** Delete Link */
								'<li>'+
									'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.email_actions.you_want_to_delete_this_email_actions"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
										'<%= __("admin.system.delete"); %>'+
									'</a>'+
								'</li>'+
							'</ul>'+	
						'</div>';
						return dropDownButton;
					}
				}
			],
			"ajax":{
				url 	:	"<%=admin_list_url%>",
				type	: 	"POST",
				dataSrc	: 	function(res){
					return res.data;
				}
			}
		});
	});

	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query= $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	}//end searchDatatable()
</script>
