<%
 var itemDetail 	  = item_result;
 var itemId	 		  = item_id;
 var itemUnitList 	  = item_unit_list;
 var restaurantDetail = restaurant_detail;
 var status 		  = itemDetail.status;
 var statusTitle	  = (STATUS_LABELS[status] && STATUS_LABELS[status].status_name) ? STATUS_LABELS[status].status_name :"";
 var statusClass      = (STATUS_LABELS[status] && STATUS_LABELS[status].class)	     ? STATUS_LABELS[status].class       :"";
%>
<% if(isRestaurant(module_type)){ %>
	<div class="alert bg-grey alert-dismissible submit-for-approval" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<%= __("items.once_you_made_any_changes_those_updated_items_will_be_listed"); %>
	</div>
<% } %>
<div class="row m-b-20">
	<div class="col-sm-12 dashboard_page ">
		<div class="marchant_file">
			<div class="restaurant_right p-l-0">
				<div class="heading_text">
					<h3><%= __('extra_items.item_details'); %></h3>
				</div>
				<div class="all_restaurant">
					<ul>
						<li>
							<label><%= __('extra_items.restaurant_name'); %></label>
							<span><%= restaurantDetail.default_name %></span>
						</li>
						<li>
							<label><%= __('extra_items.restaurant_number'); %></label>
							<span><%= restaurantDetail.restaurant_number %></span>
						</li>
						<li>
							<label><%= __('extra_items.item_name'); %></label>
							<span><%= itemDetail.name[DEFAULT_LANGUAGE_CODE] %></span>
						</li>
						<li>
							<label><%= __('extra_items.item_id'); %></label>
							<span><%= itemDetail.item_id %></span>
						</li>
						<% if(status == IN_REVIEW) { %>
							<li>
								<label><%= __('extra_items.item_status'); %></label>
								<span class="label m-l-15 col-white p-l-10 font-14 <%=statusClass%>"><%= statusTitle %></span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Search Start -->
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
			<div class="panel panel-col-pink">
				<div class="panel-heading" role="tab" id="panel-heading-id">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false" aria-controls="panel-collapse-id">
							<%= __("system.search"); %>
							<span class="pull-right collapse-toggle-icon"></span>
						</a>
					</h4>
				</div>
				<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
					<div class="panel-body">
						<form id="searchForm" name="searchForm" >
							<div class="row clearfix dataTables_wrapper">
								<!-- Search by name in english -->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_1" onkeyup="searchDatatable(1)" placeholder="<%= __('extra_items.search_by_name_in_english'); %>" name="name_in_english">
										</div>
									</div>
								</div>
								<!-- Search by  name in arabic-->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_2" onkeyup="searchDatatable(2)" placeholder="<%= __('extra_items.search_by_name_in_arabic'); %>" name="name_in_arabic">
										</div>
									</div>
								</div>
								<!-- Search by item unit -->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<select class="form-control show-tick" name="item_unit" id="column_filter_6" data-live-search="true" onchange="searchDatatable(6)">
												<option value=""><%= __("extra_items.search_by_item_unit"); %></option>
												<%-itemUnitList%>
											</select>
										</div>
									</div>
								</div>
								<!-- reset button -->
								<div class="col-md-2">
									<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger">
										<%= __("system.reset")%>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Search End -->
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					<%=  __("extra_items.extra_items"); %>
				</h2>
				<ul class="header-dropdown m-r--5 btn-right-top-margin">
					<li class="<%= getPermissionClass(module_type,["item","list"]); %>">
						<a href="<%=base_url%>item<%- finalQuery %>">
							<button type="button" class="btn btn-sm bg-cyan waves-effect" >
								<%= __("system.back"); %>
							</button>
						</a>
					</li>
					<li class="<%= getPermissionClass(module_type,['item','choice_group']); %>">
						<a href="<%=base_url%>choice_group/<%=itemId%><%- finalQuery %>">
							<button type="button" class="btn btn-sm bg-purple waves-effect" >
								<%= __("extra_items.choice_group"); %>
							</button>
						</a>
					</li>
					<% if((status != IN_REVIEW || !isRestaurant(module_type)) && slug != BURGER_KING && slug != PIZZA_HUT){ %>
						<li class="<%= getPermissionClass(module_type,["item","extra_items"]); %>">
							<a href="<%= originalUrl %>" data-action-url="<%=list_url%>/add" data-open-modal="true" class="action-btn">
								<button type="button" class="btn btn-sm bg-indigo waves-effect" >
									<%= __("extra_items.add_extra_item"); %>
								</button>
							</a>
						</li>
					<% } %>
					<li class="<%= getPermissionClass(module_type,['item','extra_items']); %>">
						<select class="form-control show-tick m-t--8" id="extra_item_status">
							<option value=""><%= __("extra_items.select_action"); %></option>
							<option value="<%=ACTIVE%>"> <%= __("extra_items.mark_as_active"); %></option>
							<option value="<%=DEACTIVE%>"> <%= __("extra_items.mark_as_deactive"); %></option>
						</select>
					</li>
				</ul>
				<!-- Only For Mobile View-->
				<ul class="header-dropdown m-r--5 visible-xs">
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons">more_vert</i>
						</a>
						<ul class="dropdown-menu pull-right m-w-200">
							<li class="<%= getPermissionClass(module_type,["item","list"]); %>">
								<a href="<%=base_url%>item<%- finalQuery %>">
									<%= __("system.back"); %>
								</a>
							</li>
							<li class="<%= getPermissionClass(module_type,["item","extra_items"]); %>">
								<a href="<%= originalUrl %>" data-action-url="<%=list_url%>/add" data-open-modal="true" class="action-btn">
									<%= __("extra_items.add_extra_item"); %>
								</a>
							</li>
							<li class="<%= getPermissionClass(module_type,['item','extra_items']); %>">
								<a href="javascript:void(0)" onClick="updateItemStatus(<%=ACTIVE%>)">
									<%= __("items.mark_as_active"); %>
								</a>
							</li>
							<li class="<%= getPermissionClass(module_type,['item','extra_items']); %>">
								<a href="javascript:void(0)" onClick="updateItemStatus(<%=DEACTIVE%>)">
									<%= __("items.mark_as_deactive"); %>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="body hideScroll">
				<table id="datatable-extra-item" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th width="2%" class="p-r-10 text-center" >
								<div class="materialize_checkbox">
									<input type="checkbox" class="filled-in chk-col-indigo" id="extra_item_select_all">
									<label for="extra_item_select_all" class="p-l-20 v-align-bottom m-b-0"></label>
								</div>
							</th>
							<th><%= __("extra_items.name_in_english");%></th>
							<th><%= __("extra_items.name_in_arabic");%></th>
                            <th><%= __("extra_items.extra_fees");%></th>
                            <th><%= __("extra_items.item_unit");%></th>
                            <th><%= __("system.status");%></th>
							<th><%= __("system.action"); %></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	/** Function to initialize datatable and get server side data */
	var dataTable =	"";
	var extraItemCheckboxArray = {};
	$(document).ready(function() {
		/** Refresh bootstrap select box  **/
		$(".show-tick").selectpicker('refresh');
		dataTable = $('#datatable-extra-item').DataTable({
			"bStateSave"	: true,
			"fnStateSave"	: function (oSettings, oData) {
				localStorage.setItem( 'DataTables', JSON.stringify(oData) );
			},
			"fnStateLoad"	: function (oSettings) {
				return JSON.parse( localStorage.getItem('DataTables') );
			},
			"order"		: 	[],
			"sDom"		:	"ltipr",
			"serverSide": 	true,
			"scrollX"	: 	true,
			"lengthMenu":	PAGING_LENGTH_MENU,
			"columns"	: 	[
				{ 	"data"		: {},
					"orderable" : false,
					"render" 	: 	function(result){
						let extraItemId = (result._id) ? result._id :"";

						return '<div class=" materialize_checkbox p-l-15">'+
							'<div class="branchCheckbox_wrapper">'+
								'<input type="checkbox" class="filled-in chk-col-indigo" id="'+extraItemId+'">'+
								'<label for="'+extraItemId+'" class="checkbox data"></label>'+
							'</div>'+
						'</div>';
					}
				},
				{ 	"data": 'name.en' },
                {	"data": 'name.ar' },
                {	"data"		 : 'extra_fees',
					"searchable" : 	false,
					"render"     : function(extra_fees){
						return  currencyFormat(extra_fees)
					}
				},
				{	"data"		 : 'item_unit',
					"field_name" : "item_unit_id",
					"field_type" : "<%=OBJECT_ID_FIELD %>",
				},
				{
					"data"		 : {},
					"orderable"	 : false,
					"searchable" : false,
					"render"     : function(result){
						var status	= (result.is_active) ? result.is_active :'';
						return  (status == "<%=ACTIVE%>") ? '<span class="label label-success m-r-5"><%=__("system.active")%></span>' :'<span class="label label-danger m-r-5"><%=__("system.inactive")%></span>';
					}
				},
				{
					"data"		 : {},
					"orderable"	 : false,
					"searchable" : false,
					"render" 	 : function(result){
						var id 			    =   (result._id) 		?   result._id 	     :"";
						var isActive		= 	(result.is_active)	? 	result.is_active :'';
						var status			= 	(result.status)		? 	result.status	 :'';
						var extraItemStatus	=	(isActive != "<%=ACTIVE%>") ? "<%=ACTIVE%>" 							:"<%=DEACTIVE%>";
						var statusLinkText  = 	(isActive != "<%=ACTIVE%>") ? "<%= __('system.activate'); %>"			:"<%= __('system.deactive'); %>" ;
						var statusLinkTitle = 	(isActive != "<%=ACTIVE%>") ? "<%= __('system.click_to_activate'); %>"	:"<%= __('system.click_to_deactivate'); %>";

						var dropDownButton 	= '';
						dropDownButton += '<div class="btn-group">'+
							'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
								'<%= __("admin.system.action"); %> '+
								'<span class="caret"></span>'+
							'</button>'+
							'<ul class="dropdown-menu">'+
							<% if(slug != BURGER_KING && slug != PIZZA_HUT && (status != IN_REVIEW || !isRestaurant(module_type))){ %>
								/** Edit Link **/
								'<li>'+
									'<a href="<%= originalUrl %>" data-action-url="<%=list_url%>/edit/'+id+'" data-open-modal="true" class="action-btn waves-effect waves-block <%= getPermissionClass(module_type,["item","extra_items"]); %>">'+' <%= __("admin.system.edit"); %>'+
									'</a>'+
								'</li>'+
							<% } %>
								/** Status Link  **/
								'<li>'+
									'<a href="javascript:void(0)" onclick="updateExtraItemStatus('+extraItemStatus+',\''+id+'\')"  class=" waves-effect waves-block" title="'+statusLinkTitle+'">'+
										''+statusLinkText+
									'</a>'+
								'</li>'+
								/** Delete Link **/
								'<li>'+
									'<a href="javascript:void(0)" data-href="<%=list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box <%= getPermissionClass(module_type,["item","extra_items"]); %>" data-confirm-message="<%= __("extra_items.you_want_to_delete_this_extra_item"); %>" data-confirm-heading="<%= __("system.are_you_sure") %>">'+
										' <%= __("admin.system.delete"); %>'+
									'</a>'+
								'</li>'+
								/** Clone Link **/
								'<li>'+
									'<a href="<%= originalUrl %>" data-action-url="<%=list_url%>/clone_extra_item/'+id+'" data-open-modal="true" class="action-btn waves-effect waves-block <%= getPermissionClass(module_type,["item","extra_items"]); %>">'+' <%= __("extra_items.clone"); %>'+
									'</a>'+
								'</li>'+
							'</ul>'+
						'</div>';
						return dropDownButton;
					}
				}
			],
			"ajax":{
				url 	:	"<%=list_url%>",
				type	: 	"POST",
				dataSrc	: 	function(result){
					setTimeout(()=>{
						dataTable.columns.adjust();
					},100);
					adjustPermissionsClass();
					return result.data;
				}
			},
		});

		/**check/uncheck checkbox select all check/uncheck*/
		$(document).on('change','#extra_item_select_all',function(){
			var isChecked	= $(this).is(':checked');
			$('.branchCheckbox_wrapper input[type="checkbox"]').not(":disabled").prop("checked",isChecked).trigger("change");
		});

		/**Check/Uncheck checkbox*/
		$(document).on('change','.branchCheckbox_wrapper input[type="checkbox"]',function(){
			var id          = $(this).attr('id');
			var isChecked	= $(this).is(':checked');
			if(isChecked){
				extraItemCheckboxArray[id] = true;
			}else{
				delete extraItemCheckboxArray[id];
			}
			var totalCheckBox = $('.branchCheckbox_wrapper input[type="checkbox"]').not(":disabled").length;
			var checkedBox = $('.branchCheckbox_wrapper input[type="checkbox"]:checked').length;
			let selectAll = (totalCheckBox == checkedBox) ? true : false;
			$("#extra_item_select_all").prop("checked",selectAll);
		});

		/**Check/Uncheck checkbox*/
		$(document).on('change','#extra_item_status',function(){
			var status = $(this).val();
			if(status){
				updateExtraItemStatus(status);
			}
		});
	});

	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query= $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	}//end searchDatatable()

	/** Javascript function to update extra item status */
	function updateExtraItemStatus(status,extraItemId){
		var extraItemIdArray = (extraItemId) ? [extraItemId] : Object.keys(extraItemCheckboxArray);

		if(status == "<%=ACTIVE%>" || status=="<%=DEACTIVE%>"){
			if(extraItemIdArray.length < 1){
				notice("<%= STATUS_ERROR %>","<%= __('extra_items.please_select_atleast_one_extra_item')%>");
				return false;
			}

			/** Confirm  box **/
			confirmBox("warning",'<%= __("system.are_you_sure") %>','<%= __("extra_items.do_you_want_to_update_status"); %>',function(result){
				if(result){
					var options = {
						url 	: 	"<%=list_url%>/update-extra-item-status",
						data	: 	{extra_item_ids: extraItemIdArray.join(","), status: status},
						method	:	"post"
					};
					ajaxRequest(options,function(response){
						if(response.status && response.message) notice(response.status,response.message);
						dataTable.ajax.reload(null, false);
						extraItemCheckboxArray = {};
						$("#extra_item_select_all").prop("checked",false);
					});
				}
				swal.close();
			});
		}
	}//end updateExtraItemStatus()

</script>
<script type="text/javascript" src="<%=WEBSITE_JS_PATH%>datatable_state_storage.js"></script>
