<%
	var ticketStatus = (typeof ticket_status !== typeof undefined && ticket_status)	? ticket_status	:"";
%>
<div class="container-fluid" id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<%= __("admin.system.search"); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<form id="searchForm" name="searchForm" >
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by ticket no. -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_0" name="ticket_id" onkeyup="searchDatatable(0)" placeholder="<%= __('admin.tickets.search_by_ticket_no'); %>">
											</div>
										</div>
									</div>
									<!-- Search by created -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="date-range-picker" placeholder="<%= __('admin.tickets.search_by_created'); %>">
											</div>
											<input class="form-control hide" id="from_date" type="text" name="from_date">
											<input class="form-control hide" id="to_date" type="text" name="to_date">
										</div>
									</div><%
									if(ticket_type != "close_tickets" && ticket_type != "incoming_tickets" && ticket_type != "reopen_tickets"){%>
										<!-- Search by status -->
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
											<div class="form-group">
												<div class="form-line">
													<select class="form-control show-tick" id="search_by_ticket_status"  name="search_ticket_status" title="<%= __("admin.tickets.search_by_ticket_status"); %></select>" multiple>
														<!-- <option value=""> <%= __("admin.tickets.search_by_ticket_status"); %> </option> -->
														<% Object.keys(TICKET_STATUS).map(key=>{
															var selected	=	(key == ticketStatus) ? 'selected' : '';
															%>
															<option value="<%=key%>" <%=selected%>> <%= TICKET_STATUS[key] %> </option>
														<% });	%>
													</select>
												</div>
											</div>
										</div> <%
									} %>
									<!-- Search by category -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick" id="search_category_id" name="search_category_id" data-child-name="search_sub_category_id" data-live-search="true" multiple title="<%=__('admin.tickets.search_by_category')%>">
													<%-category_list%>
												</select>
											</div>
										</div>
									</div>
									<!-- Search by sub_category -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick" id="search_sub_category_id" name="search_sub_category_id" data-child-name="search_title" title="<%=__('admin.tickets.search_by_sub_category')%>" data-live-search="true" disabled multiple>
												</select>
											</div>
										</div>
									</div>
									<!-- Search by title -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick" id="search_title"  name="search_title" title="<%=__('admin.tickets.search_by_title')%>" data-live-search="true" disabled multiple>
												</select>
											</div>
										</div>
									</div><%
									if(ticket_type != "incoming_tickets" && ticket_type != "reopen_tickets"){%>
										<!-- Search by assign to department -->
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
											<div class="form-group">
												<div class="form-line">
													<select class="form-control show-tick" id="assigned_to_department" name="search_category_department" title='<%=__("admin.tickets.search_by_assigned_to_department");%>' data-child-name="assigned_to" multiple>
														<%-department_list%>
													</select>
												</div>
											</div>
										</div>
										<!-- Search by assign to user -->
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
											<div class="form-group">
												<div class="form-line">
													<select class="form-control show-tick" id="assigned_to_user" title="<%=__('admin.tickets.search_by_assigned_to_user')%>" name="assigned_to" disabled multiple>
													</select>
												</div>
											</div>
										</div><%
									} %>
									<!-- Search by order id -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_1" name="search_order_id" onkeyup="searchDatatable(1)" placeholder="<%= __('admin.tickets.search_by_order_id'); %>">
											</div>
										</div>
									</div>
									<!-- Search by client mobile number -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_8" name="search_client_mobile_number" onkeyup="searchDatatable(8)" placeholder="<%= __('admin.tickets.search_by_client_mobile_number'); %>">
											</div>
										</div>
									</div>
									<!-- Search by created by department -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick" id="created_by_department" data-live-search="true" data-child-name="created_by"  name="created_by_role_id" title='<%=__("admin.tickets.search_by_created_by_department");%>' multiple>
													<%-department_list%>
												</select>
											</div>
										</div>
									</div>
									<!-- Search by created by user-->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick" id="created_by_user" title="<%=__('admin.tickets.search_by_created_by_user')%>" data-live-search="true" name="created_by" disabled multiple>
												</select>
											</div>
										</div>
									</div>
									<!-- reset button -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=admin_list_url%>/<%=ticket_type%>">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= dynamic_variable %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin  visible-md visible-lg visible-sm">
						<%
						if(ticket_type == "my_tickets"){ %>
							<li class="<%= getPermissionClass(module_type,[ticket_type,'add']); %>">
								<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/add" data-open-modal="true" class="action-btn">
									<button type="button" class="btn btn-sm bg-indigo waves-effect">
										<%= __("admin.tickets.add_tickets"); %>
									</button>
								</a>
							</li>
						<% } %>
						<li class="export-list <%= getPermissionClass(module_type,['ticket_details','export']); %>">
							<select class="export-details form-control border-bottom m-t--8">
								<option value=""><%= __("admin.system.select_export_type"); %></option>
								<option value="<%=EXPORT_ALL%>"><%= __("admin.system.export_all"); %></option>
								<option value="<%=EXPORT_FILTERED%>"><%= __("admin.system.export_filtered"); %></option>
							</select>
						</li>
					</ul>
					<!-- Only For Mobile View-->
					<ul class="header-dropdown m-r--5 visible-xs">
						<li class="dropdown">
							<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">more_vert</i>
							</a>
							<ul class="dropdown-menu pull-right m-w-200">
								<% if(ticket_type == "my_tickets"){ %>
									<li class="<%= getPermissionClass(module_type,[ticket_type,'add']); %>">
										<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/add"  class="action-btn" data-open-modal="true">
											<%= __("admin.tickets.add_tickets"); %>
										</a>
									</li>
								<% } %>
								<li class="<%= getPermissionClass(module_type,['ticket_details','export']); %>">
									<a href="<%=admin_list_url+'/'+ticket_type+'/export_data/'+export_count+'/'+EXPORT_ALL%>">
										<%= __('admin.system.export_all'); %>
									</a>
								</li>
								<li class="<%= getPermissionClass(module_type,['ticket_details','export']); %>">
									<a href="<%=admin_list_url+'/'+ticket_type+'/export_data/'+export_count+'/'+EXPORT_FILTERED%>">
										<%= __('admin.system.export_filtered'); %>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><%= __("admin.tickets.ticket_no");%></th>
								<th><%= __("admin.tickets.order_id");%></th>
								<th><%= __("admin.tickets.category");%></th>
								<th><%= __("admin.tickets.sub_category");%></th>
								<th><%= __("admin.tickets.title");%></th>
								<th><%= __("admin.tickets.description");%></th>
								<th><%= __("admin.tickets.department");%></th>
								<th><%= __("admin.tickets.from");%></th>
								<th><%= __("admin.tickets.mobile_number");%></th>
								<th><%= __("admin.tickets.last_changed_date");%></th>
								<th><%= __("admin.system.created");%></th>
								<th><%= __("admin.system.action");%></th>
								<th></th> <th></th> <th></th> <th></th> <th></th> <th></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript">
		/** Function to initialize datatable and get server side data*/
		var dateFormatHtml	= 	'<%=DATE_FORMAT_HTML%>';
		var dataTable 		=	"";
		var categoryList	=	{};

		$(document).ready(function() {
			dataTable = $('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables') );
				},
				"order"		: [[9, "desc" ]],
				"sDom"		: "ltipr",
				"serverSide": true,
				"scrollX"	: true,
				"lengthMenu": PAGING_LENGTH_MENU,
				"columns"	: [
					{"data"	: "ticket_id"},
					{
						"data"		 :  {} ,
						"orderable"	 : false,
						"field_name" : "order_id",
						"render" 	 : 	function(result){
							return result.main_order_id ? '<a href="<%= WEBSITE_ADMIN_URL+'orders/view/'%>'+result.main_order_id+'" target="_blank">'+result.order_id+'</a>' :result.order_id;
						}
					},
					{
						"data" 		: "category",
						"field_name": "category",
						"field_type": "<%=OBJECT_ID_FIELD%>",
						"orderable"	: false,
						"render"	: function(category){
							return categoryList[category];
						}
					},
					{
						"data" 		: "sub_category",
						"field_name": "sub_category",
						"field_type": "<%=OBJECT_ID_FIELD%>",
						"orderable"	: false,
						"render"	: function(sub_category){
							return categoryList[sub_category];
						}
					},
					{
						"data" 		: "title",
						"field_name": "title",
						"field_type": "<%=OBJECT_ID_FIELD%>",
						"orderable"	: false,
						"render"	: function(title){
							return categoryList[title];
						}
					},
					{ 	"data"	: 'description',
						"orderable"	: false,
						"render": function(description){
							return (description) ? "<span class='readmore'>"+description+"</span>" :"N/A";
						}
					},
					{
						"data" 		: "department_name",
						"field_type": "<%=EXACT_FIELD%>",
						"field_name": "assigned_to_role_id",
						"orderable"	: false,
					},
					{
						"data"	: "created_by_name",
						"orderable"	: false,
					},
					{
						"data"		 : {},
						"field_name": "client_details.mobile_number",
						"orderable"	: false,
						"render" 	 : function(result){
							return (result.client_details && result.client_details.mobile_number) ? result.client_details.mobile_number : 'N/A';
						}
					},
					{
						"data"		 : 'last_activity_date_time',
						"render" 	 : function(last_activity_date_time){
							return moment(last_activity_date_time).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
					{
						"data"		 : 'created',
						"visible"	 : false,
						"render" 	 : function(created){
							return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
					{ 	"data"		: {},
						"orderable"	: false,
						"render"	: function(result){
							var id 					= 	(result._id)		?	result._id		:"";
							var checkIn 			= 	(result.check_in)	?	result.check_in	:false;
							var assignedToRoleId 	=	(result.assigned_to_role_id) ? result.assigned_to_role_id	:false;
							var status 				=	(result.status) ? result.status : "";
							var hideEditButton 		= 	(status == '<%= TICKET_CLOSE%>')  ? 'hide' : "";

							var dropDownButton = ''+
							'<div class="btn-group btn-group-sm m-l-5 m-t-5">'+
								'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
									'<i class="material-icons">more_vert</i>'+
								'</button>'+
								'<ul class="dropdown-menu  width-180">'+
									<% if(auth.user_role_id == CRAVEZ || auth.team_head){  %>
										/** Edit Link **/
										'<li>'+
											'<a href="<%=originalUrl%>" data-action-url="<%=admin_list_url%>/edit/'+id+'" data-open-modal="true" class="waves-effect waves-block action-btn '+hideEditButton+' <%= getPermissionClass(module_type,["ticket_update","edit"]); %>">  <%= __("admin.system.edit"); %>'+
											'</a>'+
										'</li>'+
									<% } %>
									/** View Link **/
									'<li>'+
										'<a href="<%=admin_list_url%>/view/'+id+'" class="waves-effect waves-block <%= getPermissionClass(module_type,["ticket_details","view"]); %>" target="_blank">  <%= __("admin.system.view"); %>'+
										'</a>'+
									'</li>';

									<% if(ticket_type == "incoming_tickets" || ticket_type == "reopen_tickets"){  %>
										/** Check In Link **/
										dropDownButton += (!checkIn && assignedToRoleId == "<%=auth.user_role_id%>") ? '<li>'+
											'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update-status/'+id+'" class="waves-effect waves-block confirm_box  <%= getPermissionClass(module_type,["ticket_details","ticket_checkin"]); %>" data-confirm-message="<%= __("admin.tickets.do_you_want_to_check_in_this_tickets"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" >'+
												'<%=__("admin.tickets.checkin")%>'+
											'</a>'+
										'</li>' :"";
									<% } %>

							dropDownButton += ''+
								'</ul>'+
							'</div>';

							return dropDownButton;
						}
					},
					{
						"data"		: "order_id",
						"visible"	: false
					},
					{
						"data"		: "client_details.mobile_number",
						"visible"	: false
					},
					{
						"data"		: "status",
						"field_type": "<%=NUMERIC_FIELD%>",
						"visible"	: false
					},
					{
						"data"		: "created_by_role_id",
						"field_type": "<%=EXACT_FIELD%>",
						"visible"	: false
					},
					{
						"data"		: "assigned_to",
						"field_type": "<%=OBJECT_ID_FIELD%>",
						"visible"	: false
					},
					{
						"data"		: "created_by",
						"field_type": "<%=OBJECT_ID_FIELD%>",
						"visible"	: false
					},
				],
				"ajax":{
					url 	: "<%=admin_list_url+'/'+ticket_type%>",
					type	: "POST",
					data	: 	function (d) {
				        d.fromDate		=	$('#from_date').val();
				        d.toDate 		= 	$('#to_date').val();
				        d.status 		= 	$('#search_by_ticket_status').val();
				        d.toUser		=	$('#assigned_to_user').val();
				        d.byUser		=	$('#created_by_user').val();
				        d.toDepartment	=	$('#assigned_to_department').val();
						d.byDepartment	=	$('#created_by_department').val();
						d.categoryId	=	$('#search_category_id').val();
				        d.subCategoryId	=	$('#search_sub_category_id').val();
						d.title			=	$('#search_title').val();
						d.export_count  =   <%= export_count %>;
				    },
					dataSrc	: function(res){
						adjustPermissionsClass();
						categoryList = res.categories;
						return res.data;
					}
				},
				"drawCallback": function( settings ) {
					/** Description read more **/
					readMore();
				}
			});


			$("#search_by_ticket_status,#assigned_to_department,#assigned_to_user,#created_by_department,#created_by_user,#search_category_id,#search_sub_category_id,#search_title").change(function(){
				dataTable.draw();
			});

			/**
			* Get sub category or title list
			*/
			$("select[name='search_category_id'], select[name='search_sub_category_id']").change(function(){
				getChildSearchDropDownList($(this));
			});
		});

		/**
		* Get dropdown value by local storage
		*/
		let tempCategoryId 			= 	"";
		let tempSubCategoryId 		=	"";
		let tempTitleId 			=	"";
		let tempAssignedDepartment 	=	"";
		let tempCreatedDepartment 	=	"";
		let tempCreatedBy 			=	"";
		let tempAssignedBy 			=	"";
		if(localStorage["search_" +window.location.pathname]){
			let searchFormData = JSON.parse(localStorage["search_" +window.location.pathname]);
			for(index in searchFormData){
				if(searchFormData[index].name && searchFormData[index].name == "search_sub_category_id" && searchFormData[index].value){
					tempSubCategoryId = searchFormData[index].value;
				}
				if(searchFormData[index].name && searchFormData[index].name == "search_category_id" && searchFormData[index].value){
					tempCategoryId = searchFormData[index].value;
				}
				if(searchFormData[index].name && searchFormData[index].name == "search_title" && searchFormData[index].value){
					tempTitleId = searchFormData[index].value;
				}
				if(searchFormData[index].name && searchFormData[index].name == "search_category_department" && searchFormData[index].value){
					tempAssignedDepartment = searchFormData[index].value;
				}
				if(searchFormData[index].name && searchFormData[index].name == "created_by_role_id" && searchFormData[index].value){
					tempCreatedDepartment = searchFormData[index].value;
				}
				if(searchFormData[index].name && searchFormData[index].name == "created_by" && searchFormData[index].value){
					tempCreatedBy = searchFormData[index].value;
				}
				if(searchFormData[index].name && searchFormData[index].name == "assigned_to" && searchFormData[index].value){
					tempAssignedBy = searchFormData[index].value;
				}
			}

			if(tempCategoryId) getChildSearchDropDownList($("select[name='search_category_id']"),tempCategoryId,tempSubCategoryId);
			if(tempSubCategoryId) getChildSearchDropDownList($("select[name='search_sub_category_id']"),tempSubCategoryId,tempTitleId);

			if(tempAssignedDepartment) getUserDropDownList($("select[name='search_category_department']"),tempAssignedDepartment,tempAssignedBy);
			if(tempCreatedDepartment) getUserDropDownList($("select[name='created_by_role_id']"),tempCreatedDepartment,tempCreatedBy);
		}

		/**
		* Get child search dropdown list
		*/
		function getChildSearchDropDownList(currentObj,parentCat,catId){
			if(currentObj){
				var currentValue	=	currentObj.val();
				var childInputName	=	currentObj.attr("data-child-name");
				var childObj		=	(childInputName) ?  $("select[name='"+childInputName+"']") :"";

				if(!currentValue && parentCat) currentValue = parentCat;

				if(!catId && dataTable.column) childObj.val("").trigger("change");
				if(childObj.attr("data-child-name")){
					var subChildObj			=	$("select[name='"+childObj.attr("data-child-name")+"']");
					var subChildPlaceholder = 	subChildObj.attr("data-placeholder");
					subChildObj.html('<option value="">'+subChildPlaceholder+'</option>').attr("disabled",true).removeClass("disabled");
				}
				$(".show-tick").selectpicker('refresh');

				if(currentValue){
					/** Get dropdown list **/
					var options =	{
						url 	: 	"<%=admin_list_url+'/get_category'%>",
						data	:	{category_id: currentValue},
						method	:	"post"
					}
					ajaxRequest(options,function(response){
						if(response.status == "<%=STATUS_SUCCESS%>"){
							/** Append dropdown list **/
							childObj.attr("disabled",false).removeClass("disabled").html(response.result);
							if(catId){
								if(dataTable.column){
									childObj.val(catId).trigger("change");
								}else{
									setTimeout(childObj.val(catId).trigger("change"),1);
								}
							}
							$(".show-tick").selectpicker('refresh');
						}else if(response.status && response.message){
							notice(response.status,response.message);
						}
					});
				}
			}
		}// end getChildSearchDropDownList()

		/** Javascript function to search datatable */
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()

		/**
		* Get user list according to department
		*/
		$("select[name='created_by_role_id'], select[name='search_category_department']").change(function(){
			getUserDropDownList($(this));
		});

		/**
		* Get user search dropdown list
		*/
		function getUserDropDownList(currentObj,parentCat,catId){
			if(currentObj){
				var currentValue	=	currentObj.val();
				var childInputName	=	currentObj.attr("data-child-name");
				var childObj		=	(childInputName) ?  $("select[name='"+childInputName+"']") :"";
				//~ var placeholder		=	childObj.attr("data-placeholder");
				//~ var childFirstOption=	'<option value="">'+placeholder+'</option>';

				if(!currentValue && parentCat) currentValue = parentCat;

				childObj.attr("disabled",true).removeClass("disabled");
				if(!catId && dataTable.column) childObj.val("").trigger("change");
				if(childObj.attr("data-child-name")){
					var subChildObj			=	$("select[name='"+childObj.attr("data-child-name")+"']");
					var subChildPlaceholder = 	subChildObj.attr("data-placeholder");
					subChildObj.attr("disabled",true).removeClass("disabled");
				}
				$(".show-tick").selectpicker('refresh');

				if(currentValue){
					/** Get dropdown list **/
					var options =	{
						url 	: "<%=admin_list_url%>/user_list",
						data	: {user_role_id : currentValue},
						method	: "post"
					}
					ajaxRequest(options,function(response){
						if(response.status == "<%=STATUS_SUCCESS%>"){
							/** Append dropdown list **/
							childObj.attr("disabled",false).removeClass("disabled").html(response.user_list);
							// if(catId) childObj.val(catId).trigger("change");

							if(catId){
								if(dataTable.column){
									childObj.val(catId).trigger("change");
								}else{
									setTimeout(childObj.val(catId).trigger("change"),1);
								}
							}
							$(".show-tick").selectpicker('refresh');
						}else if(response.status && response.message){
							notice(response.status,response.message);
						}
					});
				}
			}
		}// end getUserDropDownList()

		/** Refresh bootstrap select box  **/
		$(".show-tick").selectpicker('refresh');

		/**
		* Export Details action
		*
		* @param  null
		*
		* @return void
		*/
		$(document).on("change",".export-details",function(){
			var type = $(this).val();
			if(type && type!=""){
				$(this).val("");
				var exportURL = "<%=admin_list_url+'/'+ticket_type%>/export_data/<%= export_count %>/"+type;
				window.location.href = exportURL;
			}
		});
	</script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
	<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>
