<div class="container-fluid">
	<div class="equal_spacing">
    <div class="approved_restaurant">
        <ul>
        <li>
        	<div class="content_box"><div class="bg_blue_box content_restaurant"><strong>374</strong></div><h4>Total orders</h4> <div class="graph_detail"><span><img src="images/top-arw.png" alt="img">13.8%</span> <img src="images/graph1.png" alt="img"></div></div>
        </li>
        <li>
        	<div class="content_box"><div class="bg_red_box content_restaurant"><strong>150</strong></div><h4>New orders</h4> <div class="graph_detail"><span><img src="images/top-arw.png" alt="img">13.8%</span> <img src="images/graph2.png" alt="img"></div></div>
        </li>
        <li>
        	<div class="content_box"><div class="bg_orange_box content_restaurant"><strong>40</strong></div><h4>Orders at restaurant</h4> <div class="graph_detail"><span><img src="images/top-arw.png" alt="img">13.8%</span> <img src="images/graph3.png" alt="img"></div></div>
        </li>
        <li>
        	<div class="content_box"><div class="bg_skyblue_box content_restaurant"><strong>70</strong></div><h4>Orders on way</h4> <div class="graph_detail"><span><img src="images/top-arw.png" alt="img">13.8%</span> <img src="images/graph4.png" alt="img"></div></div>
        </li>
        <li>
        	<div class="content_box"><div class="bg_violet_box content_restaurant"><strong>90</strong></div><h4>Completed orders</h4> <div class="graph_detail"><span><img src="images/top-arw.png" alt="img">13.8%</span> <img src="images/graph5.png" alt="img"></div></div>
        </li>
        </ul>
    </div>

    <div class="separate_box">
        <div class="row">
            <div class="col-sm-8">
                <div class="sales_report">
                    <div class="heading_text">
                        <h3>Total order value</h3>
                        <ul>
                            <li><a class="active" href="javascript:void(0)">This Week</a></li>
                            <li><a href="javascript:void(0)">Last Week</a></li>
                            <li><a href="javascript:void(0)">Last Month</a></li>
                            <li><a href="javascript:void(0)">Last Year</a></li>
                        </ul>
                    </div>
                    <figure><img src="images/value-graph.png" alt="img"></figure>
                </div>
                
                <div class="sales_report">
                    <div class="heading_text">
                        <h3>Total cancelled <br> order value</h3>
                        <ul>
                            <li><a class="active" href="javascript:void(0)">This Week</a></li>
                            <li><a href="javascript:void(0)">Last Week</a></li>
                            <li><a href="javascript:void(0)">Last Month</a></li>
                            <li><a href="javascript:void(0)">Last Year</a></li>
                        </ul>
                    </div>
                    <figure><img src="images/value-graph1.png" alt="img"></figure>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="sales_report">
                    <div class="heading_text">
                        <h3>Total delayed orders</h3>
                    </div>
                    <figure><img src="images/delay-order.png" alt="img"></figure>
                </div>
                <div class="total-value">
                    <div class="content_box">
                        <div class="bg_red_box content_restaurant">
                            <strong>5000 KD</strong><span>Total dues from cravez</span>
                        </div>
                    </div>
                    <div class="content_box">
                        <div class="bg_orange_box  content_restaurant">
                            <strong>3000 KD</strong><span>Total paid</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sales_report receive_orders">
        <div class="heading_text"><h3>Receive orders</h3><a href="javascript:void(0)" class="view_all">View All</a></div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Order ID</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John Smith</td>
                            <td>#78995645</td>
                            <td>Plain Pizza</td>
                            <td>02</td>
                            <td><span class="green_text">145.50 KD</span></td>
                            <td><a href="javascript:void(0)" class="paid">Paid</a></td>
                        </tr>
                        <tr>
                            <td>Abdullah Shaikh</td>
                            <td>#12369875</td>
                            <td>Medium Pizza</td>
                            <td>04</td>
                            <td><span class="green_text">160.70 KD</span></td>
                            <td><a href="javascript:void(0)" class="paid">Paid</a></td>
                        </tr>
                        <tr>
                            <td>Mariam Fatehi</td>
                            <td>#52639871</td>
                            <td>Chicken Pizza</td>
                            <td>03</td>
                            <td><span class="orange_text">230.50 KD</span></td>
                            <td><a href="javascript:void(0)" class="pending">Pending</a></td>
                        </tr>
                        <tr>
                            <td>Mohamad Yunus</td>
                            <td>#59875631</td>
                            <td>Cheez Onion Pizza</td>
                            <td>05</td>
                            <td><span class="red_text">190.70 KD</span></td>
                            <td><a href="javascript:void(0)" class="cancel">Cancel</a></td>
                        </tr>
                        <tr>
                            <td>Sara Yusufi</td>
                            <td>#78563215</td>
                            <td>Large Pizza</td>
                            <td>10</td>
                            <td><span class="orange_text">300.00 KD</span></td>
                            <td><a href="javascript:void(0)" class="pending">Pending</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    
    <!--<div class="row clearfix">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<a href="<%= WEBSITE_ADMIN_URL %>users" class="stats-anchor text-decoration-none">
				<div class="info-box bg-pink hover-expand-effect cursor-pointer">
					<div class="icon">
					</div>
					<div class="content">
						<div class="text"><%= __("admin.dashboard.all_users"); %></div>
						<div class="number count-to" data-from="0" data-to='<%= (stats["total_users"]) ? stats["total_users"] : 0; %>' data-speed="1000" data-fresh-interval="20"></div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<a href="<%= WEBSITE_ADMIN_URL+'users/'+TYPE_ACTIVE %>" class="stats-anchor text-decoration-none">
				<div class="info-box bg-green hover-expand-effect cursor-pointer">
					<div class="icon">
					</div>
					<div class="content">
						<div class="text"><%= __("admin.dashboard.active_users"); %></div>
						<div class="number count-to" data-from="0" data-to='<%= (stats["active_users"]) ? stats["active_users"] : 0; %>' data-speed="1000" data-fresh-interval="20"></div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<a href="<%= WEBSITE_ADMIN_URL+'users/'+TYPE_DEACTIVE %>" class="stats-anchor text-decoration-none">
				<div class="info-box bg-red hover-expand-effect cursor-pointer">
					<div class="icon">
					</div>
					<div class="content">
						<div class="text"><%= __("admin.dashboard.deactive_users"); %></div>
						<div class="number count-to" data-from="0" data-to='<%= (stats["deactive_users"]) ? stats["deactive_users"] : 0; %>' data-speed="1000" data-fresh-interval="20"></div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 <div class="card">
				<div class="header">
					<h2><%= __("admin.dashboard.users_registration_chart"); %></h2>
				</div>
				<div class="body">
					<canvas id="bar_chart" height="300"></canvas>
				</div>
			</div>
		</div>
	</div>-->
</div>
<%- contentFor("script") %>
<script src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>jquery-countto/jquery.countTo.js" type="text/javascript"></script>
<script type="text/javascript">
<%
	var usersData 	= [];
	var year  		= "";
	var month  		= "";
	var monthyear  	= "";
	if(result){
		for(var i=0; i < result.length; i++) {
			month					= (result[i]["_id"]["month"]) 	? result[i]["_id"]["month"] :"";
			year					= (result[i]["_id"]["year"]) 	? result[i]["_id"]["year"]	:"";
			monthyear				= month+"-"+year;
			usersData[i]            = {};
			usersData[i][monthyear] = {};
			
			usersData[i][monthyear]["total_users"]	= (result[i]["total_users"]) ? result[i]["total_users"] : 0;
		}
	}
%>
var userRecords =	<%- JSON.stringify(usersData); %>;
$(function () {
	$('.count-to').countTo();
});
</script>
<script src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>chartjs/Chart.bundle.js" type="text/javascript"></script>
<script src="<%=WEBSITE_ADMIN_JS_PAGE_PATH%>dashboard/chartjs.js" type="text/javascript"></script>
