<div class="sign_box">
	<div class="form_section">
		<figure><img src="<%= WEBSITE_ADMIN_IMG_URL %>logo.png" alt="img"></figure>
		<form id="forgot-password" data-submit-btn-id="forgot-password-btn-id" method="post" class="on_click_submit" role="form">
			<div class="form-group">
				<label for="email"><%= __("admin.forgot_password.email");%></label>
				<input type="text" class="form-control" name="email" id="email"  placeholder="<%= __("admin.forgot_password.email");%>">
				<span id="email_error" class="error"></span>
			</div>
			<div class="submit_btn">
				<a href="<%= WEBSITE_ADMIN_URL%>login" ><%= __("admin.forgot_password.back_to_login"); %></a>
                <button type="button" id="forgot-password-btn-id" <%- ADMIN_LOADING_TEXT %> class="btn btn-default btn-submit">
					<%= __("admin.system.submit"); %>
				</button>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
</div>
	
	
<%- contentFor("script") %>
	<script type="text/javascript">

		/**
		 * Function to submit form
		 */
		$(".btn-submit").click(function(){
			var btnId = $(this).attr("id");
			startTextLoading(btnId);
			ajax_submit("forgot-password",function(status,response){
				if(status){
					window.location.href = response.redirect_url;
				}else{
					stopTextLoading(btnId);
				}
			});
		});
	</script>
