<div class="sign_box">
	<div class="form_section">
		<figure><img src="<%= WEBSITE_ADMIN_IMG_URL %>logo.png" alt="img"></figure>
		<form id="reset-password" data-submit-btn-id="password-reset-btn-id" method="post" class="on_click_submit" role="form">
			<div class="form-group">
				<label for="password"><%= __("admin.reset_password.new_password");%>*</label>
				<input name="password" id="password" type="password" class="form-control" placeholder="<%= __("admin.reset_password.new_password"); %> *"/>
				<span id="password_error" class="error"></span>
			</div>
			<div class="form-group">
				<label for="confirm_password"><%= __("admin.reset_password.confirm_password");%>*</label>
				<input name="confirm_password" id="confirm_password" type="password" class="form-control" placeholder="<%= __("admin.reset_password.confirm_password"); %> *"/>
				<span id="confirm_password_error" class="error"></span>
			</div>
			
			<div class="submit_btn">
				<a href="<%= WEBSITE_ADMIN_URL%>login" ><%= __("admin.forgot_password.back_to_login"); %></a>
                <button type="button" id="password-reset-btn-id" <%- ADMIN_LOADING_TEXT %> class="btn btn-default btn-submit">
					<%= __("admin.system.submit"); %>
				</button>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
</div>
	

<%- contentFor("script") %>
	<script type="text/javascript">

		/**
		 * Function to submit form
		 */
		$(".btn-submit").click(function(){
			var btnId = $(this).attr("id");
			startTextLoading(btnId);
			ajax_submit("reset-password",function(status,response){
				if(status){
					window.location.href = response.redirect_url;
				}else{
					stopTextLoading(btnId);
				}
			});
		});
	</script>
