<%
	var result 		= (typeof result !== typeof undefined && result) ?	result :{};
	var isEditable 	= is_editable;
	var shiftId 	= result._id;
	var formUrl 	= (result && isEditable) ? admin_list_url+"/edit/"+shiftId : admin_list_url+"/add";
%>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<form data-modal-id="form_modal" id="add-shift" data-submit-btn-id="shift-add-btn-id" method="post" action="<%=formUrl%>" class="on_click_submit" role="form">
			<div class="modal-dialog modal-dialog-centered modal-lg"  role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-seperator p-l-20 p-b-0">
						<h2 class="modal-title">
							<%= (isEditable) ? __("admin.shift_setup.edit_shift_setup") : __("admin.shift_setup.add_shift_setup"); %>
						</h2>
					</div>

					<div class="modal-body padding-20">
						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="shift_name" class="control-label">
											<%= __("admin.shift_setup.shift_name"); %><span class="required"> *</span>
										</label>
										<input type="text" id="shift_name" class="form-control" name="shift_name" value= "<%=(result.shift_name) ? result.shift_name : "";%>"/>
									</div>
									<span id="shift_name_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="start_time" class="control-label"><%= __('admin.shift_setup.shift_start_time'); %><span class="required"> * </span> </label>
										<input name="start_time"  id="start_time" autocomplete="off" class="form-control timepicker" value="<%=(result.start_time) ? set24HourFormat(result.start_time) : "";%>" />
									</div>
									<span id="start_time_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group demo-tagsinput-area">
									<div class="form-line">
										<label for="end_time" class="control-label"><%= __('admin.shift_setup.shift_end_time'); %><span class="required "> *</span> </label>
										<input  name="end_time" id="end_time" autocomplete="off" type="text" class=" timepicker form-control" value="<%=(result.end_time) ? set24HourFormat(result.end_time) : "";%>"/>
									</div>
									<span id="end_time_error" class="error"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer modal-footer-seperator">
						<button type="button" id="shift-add-btn-id" class="btn bg-brown btn-sm waves-effect col-white btn-submit" <%- ADMIN_LOADING_TEXT %> >
							<%= __("admin.system.submit"); %>
						</button>
						<a href="javascript:void(0);" onclick="$('#form_modal').modal('hide');"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><%= __("system.cancel"); %></button></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		/**
		 * Function to submit form
		*/
		var isEditable = "<%=isEditable%>";

		/*
		 *	Function to submit form
		 */
		$('.btn-submit').click(function(){
			var btnId = $(this).attr('id');
			startTextLoading(btnId);
			ajax_submit('add-shift',function(status,response){
				if(status){
					$('#form_modal').modal("hide");
					if(isEditable){
						if(typeof dataTable !== typeof undefined) dataTable.ajax.reload(null, false);
					}else{
						$("#reset").trigger("click");
					}
					if(response.status && response.message) notice(response.status,response.message);
				}else{
					stopTextLoading(btnId);
				}
			});
		});

		/* date time picker function*/
		$('.timepicker').datetimepicker({
			format: '<%=DATEPICKER_TIME_FORMAT%>',
		});

	});
</script>
