<!-- HTML to append in add more -->
<table id="category_form_html" class="hide">
    <tbody>
        <tr id="category_row_{index}" class="table_row">
            <td>
                <button type="button" class="btn bg-green add-more-btn" onclick="AppendHTML()">+</button>
                <button type="button" class="btn bg-red remove-category hide">x</button>
            </td>
            <td>
                <input type="text" name="categories[{INDEX}][category_old_id]" id="category_id_{INDEX}" class="form-control input-column"/>
                <span id="category_old_id_{INDEX}_error" class="error"></span>
            </td>
            <td>
                <input type="text" name="categories[{INDEX}][category_id]" id="category_id_{INDEX}" class="form-control input-column"/>
                <input type="hidden" name="categories[{INDEX}][index]" value="{INDEX}" />
                <span id="category_id_{INDEX}_error" class="error"></span>
            </td>
            <td>
                <input type="text" name="categories[{INDEX}][name_in_english]" id="name_in_english_{INDEX}" class="form-control input-column"/>
                <span id="name_in_english_{INDEX}_error" class="error"></span>
            </td>
            <td>
                <input type="text" name="categories[{INDEX}][name_in_arabic]" id="name_in_arabic_{INDEX}" class="form-control input-column"/>
                <span id="name_in_arabic_{INDEX}_error" class="error"></span>
            </td>
            <td>
                <input type="text" name="categories[{INDEX}][display_order]" id="display_order_{INDEX}" class="form-control input-column"/>
                <span id="display_order_{INDEX}_error" class="error"></span>
            </td>
            <td>
                <input type="text" name="categories[{INDEX}][is_active]" id="is_active_{INDEX}" class="form-control input-column"/>
                <span id="is_active_{INDEX}_error" class="error"></span>
            </td>
        </tr>
    </tbody>
</table>

<!-- Form -->
<form id="add_category" action="<%=WEBSITE_ADMIN_URL%>merchant_upload/add_category" data-submit-btn-id="category-btn-id" method="post" class="on_click_submit" role="form">
    <div class="row clearfix">
        <input type="hidden" name="restaurant_slug"  id="restaurant_slug"/>
        <div class="col-sm-12">
			<div class="table-responsive">
				<table class="row-border full-length-header hover table table-bordered dataTable fixed_header_table">
					<thead>
						<tr>
                            <th width="4%"> </th>
                            <th> <%=__("admin.merchant_upload.category_old_id")%> *</th>
							<th> <%=__("admin.merchant_upload.category_id")%> *</th>
							<th> <%=__("admin.merchant_upload.category_name_in_english")%> *</th>
							<th> <%=__("admin.merchant_upload.category_name_in_arabic")%> *</th>
							<th> <%=__("admin.merchant_upload.category_display_order")%> *</th>
							<th> <%=__("admin.merchant_upload.active")%> *</th>
						</tr>
					</thead>
					<tbody id="category_form"></tbody>
				</table>
			</div>
        </div>
        <div class="col-sm-12">
            <button type="button" class="btn btn-sm bg-green add-more-btn" onclick="AppendHTML()"><%=__("admin.merchant_upload.add_more")%></button>
        </div>
        <div class="col-sm-12">
            <button type="button" id="category-btn-id" class="btn bg-brown btn-sm waves-effect category-btn-submit" <%- ADMIN_LOADING_TEXT %> ><%= __("system.submit"); %></button>
            <a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><%= __("admin.system.cancel"); %></button></a>
        </div>
    </div>
</form>
<script type="text/javascript">
    /** Function to append inputs in form*/
    var rowCount = 0;
    function AppendHTML(){
        var defaultHTML     = $("#category_form_html tbody").html();
        var htmlToAppend    = defaultHTML.replace(RegExp('{INDEX}','g'),rowCount);
        $("#category_form").append(htmlToAppend);
        rowCount++;

        if($(document).find("#add_category .remove-category").length > 1){
            $(document).find("#add_category .remove-category").removeClass("hide");
        }
        $(".add-more-btn").addClass("hide");
        $(".add-more-btn").last().removeClass("hide");
    }

    /** Add one row default*/
    $(document).ready(function(){
        AppendHTML();
    });

    /**
    * Function to submit form
    */
    $(".category-btn-submit").click(function(){
        var btnId = $(this).attr("id");
        $("#add_category span.error").text("");
        $("#restaurant_error").text("");
        var restaurantSlug = $("#restaurant_slug").val();
        if(!restaurantSlug || restaurantSlug == ""){
            display_errors([{param:"restaurant",msg:"<%= __('admin.merchant_upload.please_select_restaurant_first')%>"}],"merchant_file");
            return false;
        }
        startTextLoading(btnId);
        ajax_submit("add_category",function(status,response){
            stopTextLoading(btnId);
            if(status){
                if(response.redirect_url){
                    notice(response.status,response.message);
                    $("#upload_action").val('').trigger("change");
                    resetMerchantForm();
                    window.location.href = response.redirect_url;
                }else{
                    window.location.reload(true);
                }
            }
        });
    });

    /** Delete category row*/
    $(document).on("click",".remove-category",function(){
        var openModal = false;
        var that = this;
        $(that).parents(".table_row").find("input.input-column").each(function(){
            if($(this).val() != ""){
                openModal = true;
            }
        });

        if(!openModal){
            $(that).parents(".table_row").remove();
            if($(document).find("#add_category .remove-category").length <= 1){
                $(document).find("#add_category .remove-category").addClass("hide");
            }
            $(".add-more-btn").last().removeClass("hide");
        }else{
            confirmBox("warning",'<%= __("system.are_you_sure") %>','<%= __("admin.merchant_upload.categories_remove_comfirm_message"); %>',function(result){
                if(result){
                    $(that).parents(".table_row").remove();
                    if($(document).find("#add_category .remove-category").length <= 1){
                        $(document).find("#add_category .remove-category").addClass("hide");
                    }
                    $(".add-more-btn").last().removeClass("hide");
                }
                swal.close();
            });
        }
    });

</script>
