<div class="container-fluid">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<form id="searchForm" name="searchForm">
								<div class="row clearfix dataTables_wrapper">
									<div class="col-xs-12 col-sm-5">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_0" onkeyup="searchDatatable(0)" placeholder="<%= __('admin.email_template.search_by_action'); %>" name="action">
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-5">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_1" onkeyup="searchDatatable(1)" placeholder="<%= __('admin.email_template.search_by_subject'); %>"  name="subject_in_en">
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-2">
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __('admin.email_template.email_management'); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
						<li>
							<a href="<%=admin_list_url%>/add" class="<%= getPermissionClass(module_type,['email_template','add'])%>">
								<button type="button" class="btn btn-sm bg-indigo waves-effect">
									<%= __('admin.email_template.add_email_template'); %>
								</button>
							</a>
						</li>
					</ul>
					<!-- Only For Mobile View-->
					<ul class="header-dropdown m-r--5 visible-xs">
						<li class="dropdown">
							<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">more_vert</i>
							</a>
							<ul class="dropdown-menu pull-right m-w-200">
								<li>
									<a href="<%=admin_list_url%>/add" class="<%=getPermissionClass(module_type,['email_template','add'])%>">
										<%= __('admin.email_template.add_email_template'); %>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="25%"><%= __('admin.email_template.action'); %></th>
								<th><%= __('admin.email_template.subject_in_en'); %></th>
								<th><%= __('admin.email_template.from_to'); %></th>
								<th><%= __('admin.system.modified'); %></th>
								<th><%= __('admin.system.action'); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("script") %>
	<script type="text/javascript">
		/** Function to initialize datatable and get server side data*/
		var dataTable ="";
		$(document).ready(function() {
			dataTable 	= 	$('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables') );
				},
				"order"		:	[[ 3, "desc" ]],
				"sDom"		:	"ltipr",
				"serverSide": 	true,
				"scrollX"	: 	true,
				"lengthMenu":	PAGING_LENGTH_MENU,
				"columns"	: 	[
					{ "data": 'action' },
					{ "data"	  : 'subject.en',
					  "orderable" :  false
					},
					{
						"data"			:	{},
						"searchable"	: 	false,
						"orderable"		:   false,
						"render" 		: 	function(result){
							var isDefault = (result && result.is_default) 	  ? result.is_default     : "";
							var fromDate  = (result && result.from_date_time) ? result.from_date_time : "";
							var toDate    = (result && result.to_date_time)   ? result.to_date_time   : "";
							return (isDefault == true) ? "<span class='label label-success'><%= __('admin.email_template.default'); %></span>" : (moment(fromDate).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT)+" - "+moment(toDate).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT));
						}
					},
					{
						"data"			:	'modified',
						"searchable"	: 	false,
						"render" 		: 	function(modified){
							return moment(modified).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
					{
						"data"			: 	'_id',
						"orderable"		:   false,
						"searchable"	: 	false,
						"render" 		: 	function(id){
							return '<a href="<%=admin_list_url%>/edit/'+id+'" class="btn bg-teal btn-sm waves-effect <%= getPermissionClass(module_type,["email_template","edit"])%>"><%= __("admin.system.edit"); %></a>'
						}
					}
				],
				"ajax":{
					url 	:	"<%=admin_list_url%>",
					type	: 	"POST",
					dataSrc	: 	function(res){
						adjustPermissionsClass();
						return res.data;
					}
				}
			});
		});

		/** Javascript function to search datatable */
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()
	</script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
