<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">

<style>
    body{margin:0; padding:0;}
    table  td b {font-weight:700;text-transform:uppercase;}
    table td {font-size:14px;color:#000;font-weight:400;font-family: 'Open Sans', sans-serif;line-height:14px;padding-bottom:0px;}
    table th{font-size:14px;color:#000;font-weight:700;font-family: 'Open Sans', sans-serif;}
</style>
<%
	let logoImage	=	(result.logo_image) ? result.logo_image : '';
	logoImage		=	(logoImage) ? RESTAURANT_FILE_URL+logoImage : WEBSITE_IMG_URL+'small-logo.png';
%>
<div class="modal-dialog modal-lg"  role="document">
	<div class="modal-content">
		<div class="modal-header modal-header-seperator">
			<h4 class="modal-title"><%=__("orders.order_receipt") %></h4>
			<span class="cursor-pointer modal-close pull-right" data-dismiss="modal"><i class="material-icons">close</i></span>
		</div>
		<div class="modal-body" id="receipt-content">
            <table style="background:#fff; padding:15px 30px 23px;margin: auto;" width="800px" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                    <tr>
                        <td colspan="2" style="padding-bottom:21px;" align="center">
							<figure class="print_rest_image" style="width:90px;">
								<img src="<%= logoImage%>" alt="logo" style="max-width:100%;">
							</figure>
						</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table width="760px" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr style="font-size:14px;">
                                        <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.branch');%></b></td>
                                        <td style="padding-bottom:10px;"><%= (result.branch_detail) ? result.branch_detail.name[DEFAULT_LANGUAGE_CODE] :"N/A";%></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.order_id');%></b></td>
                                        <td style="padding-bottom:10px;"><%= (result.unique_order_id) ? result.unique_order_id :"N/A";%></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.customer_name');%></b></td>
                                        <td style="padding-bottom:10px;"><%= (result.customer_detail && result.customer_detail.full_name) ? result.customer_detail.full_name :"N/A";%></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.mobile');%></b></td>
                                        <td style="padding-bottom:10px;"><%= (result.customer_detail && result.customer_detail.mobile_number) ? result.customer_detail.mobile_number :"N/A";%></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.delivery_by');%></b></td>
                                        <td style="padding-bottom:10px;"><%= (result.delivery_type_title) ? result.delivery_type_title :"N/A";%></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.payment');%></b></td>
                                        <td style="padding-bottom:10px;"><%= (typeof result.payment_title !== typeof undefined) ? result.payment_title.title[DEFAULT_LANGUAGE_CODE]+((result.sub_payment_method && result.payment_method == CASH_PAYMENT) ? ' ('+PAYMENT_METHODS[result.sub_payment_method]+')' : '') :"N/A";%></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.order_time');%></b></td>
                                        <td style="padding-bottom:10px;"><span class="setDateTimeFormat" data-date-time="<%= (result.order_date) ? result.order_date : '';%>"></span></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <%
                                            let minutes		=	(order_detail.delivery_duration) ? order_detail.delivery_duration/MINUTES_IN_A_HOUR : '';
                                            let deliveryTime=	(minutes && result.order_date) ? addDaysToDate(minutes,result.order_date) : '';
                                        %>
                                        <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.delivery_time');%></b></td>
                                         <td style="padding-bottom:10px;">
											<%if(result.source && result.source == SOURCE_CALL_CENTER){ %>
												<%= (result.payment_method && AGHZEYA_PAYMENT_METHODS[result.payment_method]) ? AGHZEYA_PAYMENT_METHODS[result.payment_method] : ""; %>
											<% }else if(result.source && result.source != SOURCE_CALL_CENTER) { %>
												<%= (result.source_payment_name) ? result.source_payment_name[DEFAULT_LANGUAGE_CODE] : ""; %>
											<% }else { %>
												<%= (result.payment_title) ? result.payment_title[DEFAULT_LANGUAGE_CODE] :"N/A";%>
											<% } %>	
										</td>
                                    </tr><%
                                    if(order_detail.delivery_area_name){ %>
                                        <tr style="font-size:14px;">
                                            <td style="padding-bottom:10px; text-align:left;" width="150px" valign="top" align="left"><b><%= __('orders.delivery_area');%></b></td>
                                            <td style="padding-bottom:10px;"><%= (order_detail.delivery_area_name) ? order_detail.delivery_area_name[DEFAULT_LANGUAGE_CODE] :"";%></td>
                                        </tr><%
                                    } %>
                                    <tr>
                                        <td colspan="2" style="border-top:2px dashed #dbdbdb;height: 2px;padding: 0;"></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <td colspan="2" style=" padding:20px 0px 20px" width="760px" valign="top"> <b><%= __('orders.address');%></b>: <%= (typeof order_detail.customer_address !== typeof undefined) ? order_detail.customer_address :"N/A";%>  </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="border-top:2px dashed #dbdbdb;height: 2px;padding: 0;"></td>
                                    </tr>
                                    <tr style="font-size:14px;">
                                        <td style="padding:15px 0 15px;font-size:14px;" width="150px" valign="top"><b><%- __('orders.additional_notes');%>:</b></td>
                                        <td><%= (result.request_note) ? result.request_note :"";%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding:0;">
                            <table style="white-space:nowrap;" width="760px" cellspacing="0" cellpadding="0" align="center">
                                <thead style="background-color:#ddd9d9; text-transform: uppercase; font-size:14px;">
                                    <tr style="font-size:14px;font-weight:700; font-family: 'Open Sans', sans-serif;" align="left">
                                        <th style="padding:10px 10px 10px 10px; border:1px solid #ddd9d9;" width="560px" align="left"><%= __('orders.item');%></th>
                                        <th style="border:1px solid #ddd9d9; padding:10px 10px 10px 10px;" width="150px" align="left"><%= __('orders.qty');%></th>
                                        <th style="border:1px solid #ddd9d9; padding:10px 10px 10px 10px;" width="150px" align="right"><%= __('orders.netamount');%></th>
                                    </tr>
                                </thead>
                                <tbody><%
                                    if(item_detail.length > 0){
                                        item_detail.map((records)=>{  
											var note		= (records.note) ? (records.note) : '';
											var itemName	= (records.item_name) ? (records.item_name[DEFAULT_LANGUAGE_CODE]) : '';
											var itemHtml	= itemName+'<br/>';
											if(records.unit_lists && records.unit_lists.length > 0){
												var text	=	(records.item_type == HALF_AND_HALF_ITEM) ? __('orders.half_pizza') : __('orders.pizza');
												if(records.item_type == HALF_AND_HALF_ITEM || records.item_type == DEAL_ITEM){
													records.unit_lists.map((data,key)=>{
														let extraItemsArray = data.extra_items ? data.extra_items : [];
														let extraItemHtml = "";
														if(extraItemsArray && extraItemsArray.length > 0){
															extraItemsArray.map((exItemRecords,parentIndex)=>{
																exItemRecords.extra_item_ids.map((tmpExItem,index)=>{
																	let extraItemName = tmpExItem.extra_item_name && tmpExItem.extra_item_name[DEFAULT_LANGUAGE_CODE] ? tmpExItem.extra_item_name[DEFAULT_LANGUAGE_CODE] : "";
																	extraItemHtml += (parentIndex != 0 && index != 0) ? ', ' : '';
																	extraItemHtml += extraItemName;
																});
															});
														}
														key	=	key+1;
														var unitNames	=	(data.unit_name[DEFAULT_LANGUAGE_CODE]) ? data.unit_name[DEFAULT_LANGUAGE_CODE]+', ':"";
														var doughNames	=	(data.dough_name[DEFAULT_LANGUAGE_CODE]) ? data.dough_name[DEFAULT_LANGUAGE_CODE]+', ':"";
														var seclectorNames	=	(data.selector_name[DEFAULT_LANGUAGE_CODE]) ? data.selector_name[DEFAULT_LANGUAGE_CODE]:"";
														itemHtml	+=	key+'. '+text+': ' +unitNames+doughNames+seclectorNames+'<br/>';

														if(extraItemHtml){
															itemHtml += __("orders.extra_item")+': '+extraItemHtml+'<br/>';
														}
													});
												}
											}else{
												if(records.unit_name){
													itemHtml += (records.unit_name[DEFAULT_LANGUAGE_CODE]) ? __("orders.item_unit")+': '+records.unit_name[DEFAULT_LANGUAGE_CODE] :"";

													itemHtml += (records.dough_name && records.dough_name[DEFAULT_LANGUAGE_CODE]) ? ", "+records.dough_name[DEFAULT_LANGUAGE_CODE] :"";

													itemHtml += "<br/>";
												}
											}
											let mainExtraItemHtml = "";
											
											if(records.extra_items && records.extra_items.length > 0){
												records.extra_items.map((mainExtraItemRecords,index)=>{
													let extraItemName = mainExtraItemRecords.extra_item_name && mainExtraItemRecords.extra_item_name[DEFAULT_LANGUAGE_CODE] ? mainExtraItemRecords.extra_item_name[DEFAULT_LANGUAGE_CODE] : "";
													mainExtraItemHtml += (index != 0) ? ', ' : '';
													mainExtraItemHtml += extraItemName;
												});
											}
											itemHtml += (mainExtraItemHtml) ? __("orders.extra_item")+': '+mainExtraItemHtml+'<br/>' : ''; 
											itemHtml += (note) ? __("orders.note")+': '+note : ''; %>
                                            <tr>
                                                <td colspan="3">
                                                    <table style="border-bottom:1px solid #ededed;" width="760px" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:10px 10px 10px 10px;" width="560px"><b style="text-transform: capitalize; font-size:14px"><%- itemHtml;%></b></td>
                                                                <td width="150px" style="padding:10px 10px 10px 10px;"><b style="font-size:14px;"><%= (records.qty) ? records.qty :"N/A";%></b></td>
                                                                <td style="text-align: right;padding:10px 10px 10px 10px;" width="150px"><b style="font-size:14px"><%= (records.net_amount) ? currencyFormat(records.net_amount) :"N/A";%></b></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr><%
                                        });
                                    } %>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td style=" padding:10px 10px 10px 10px; " colspan="2" width="710px"><b style="text-transform: capitalize; font-size:14px;font-weight:800;"><%= __('orders.sub_total');%> </b></td>
                                                        <td style="text-align: right;  padding:10px 10px 10px 10px; font-size:14px;" width="150px"><b>  <%= (total) ? currencyFormat(total) :"N/A";%> </b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <% if(order_detail.additional_tax) {%>
                                        <tr>
                                            <td colspan="3">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style=" padding:10px 10px 10px 10px; " colspan="2" width="710px"><b style="text-transform: capitalize; font-size:14px;font-weight:800;"><%= __('orders.additional_tax');%> </b></td>
                                                            <td style="text-align: right;  padding:10px 10px 10px 10px; font-size:14px;" width="150px"><b> <%= (order_detail.additional_tax) ? currencyFormat(order_detail.additional_tax) :"N/A";%> </b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    <% } %>
                                    <% if(order_detail.branch_extra_charge) {%>
                                        <tr>
                                            <td colspan="3">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="159px" style=" padding:11px 9px 5px 2px; " colspan="2"><b style="text-transform: capitalize; font-size:11px;font-weight:800;"><%= __('orders.extra_charges');%> </b></td>
                                                            <td width="88px" style="text-align: right;  padding:11px 10px 5px 0px; font-size:11px;"><b> <%= (order_detail.branch_extra_charge) ? currencyFormat(order_detail.branch_extra_charge) :"N/A";%> </b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    <% } %>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td style=" padding:10px 10px 10px 10px; " colspan="2" width="710px"><b style="text-transform: capitalize; font-size:14px;font-weight:800;"><%= __('orders.delivery_fees');%> </b></td>
                                                        <td style="text-align: right;  padding:10px 10px 10px 10px; font-size:14px;" width="150px"><b> <%= (result.delivery_fee) ? currencyFormat(result.delivery_fee) : currencyFormat(0);%> </b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td style=" padding:10px 10px 10px 10px; " colspan="2" width="710px"><b style="text-transform: capitalize; font-size:14px;font-weight:800;"><%= __('orders.discount');%> </b></td>
                                                        <td style="text-align: right;  padding:10px 10px 10px 10px; font-size:14px;" width="150px"><b> <%= (order_detail.discount_price) ? currencyFormat(order_detail.discount_price) : currencyFormat(0);%> </b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table style="border-top:1px solid #ededed;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td style=" padding:10px 10px 10px 10px; " colspan="2" width="710px"><b style="text-transform: capitalize; font-size:14px;font-weight:800;"><%= __('orders.total');%> </b></td>
                                                        <td style="text-align: right;  padding:10px 10px 10px 10px; font-size:14px;" width="150px"><b> <%= (order_amount) ? currencyFormat(order_amount) : currencyFormat(0);%> </b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table style="border-bottom:1px solid #ededed;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td style=" padding:10px 10px 10px 10px; text-transform: capitalize;" colspan="2" width="710px">
                                                        <b style="text-transform: capitalize; font-size:14px;font-weight:800;"><%= __('orders.paid_by_wallet');%></b>
                                                        </td>
                                                        <td style="text-align: right;padding:10px 10px 10px 10px; font-size:14px;" width="150px"><b> <%= (result.amount_debited_by_wallet) ? currencyFormat(result.amount_debited_by_wallet) :currencyFormat(0);%> </b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                    <%
                                                        var amountDebitedByWallet = (result.amount_debited_by_wallet) ?  result.amount_debited_by_wallet :0;
                                                        var orderTotal = (order_amount) ?  order_amount :0;
                                                        var collectiable = orderTotal-amountDebitedByWallet;
                                                    %>
                                                    <tr>
                                                        <td style="padding:10px 10px 10px 10px; text-transform: capitalize;" colspan="2" width="710px"><b style="text-transform: capitalize; font-size:14px; font-weight:800;"><%= __('orders.collectiable_amount');%> </b></td>
                                                        <td style="text-align: right;padding:10px 10px 10px 10px;" width="150px"><b style="font-size:14px; "> <%= currencyFormat(collectiable);%></b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer border-top">
            <button type="button" class="btn btn-sm bg-indigo waves-effect" onclick='printDiv();'><%= __("orders.print"); %></button>
            <button type="button" class="btn bg-pink btn-sm waves-effect close_modal noHover" data-dismiss="modal"><%= __("admin.system.cancel"); %></button>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function(){
			<% if(is_print_order){ %>
				printDiv();
			<%}%>
		 }, 3000);
	});

    /** Function to print receipt */
    function printDiv(){
        var divToPrint = document.getElementById('receipt-content');
        var htmlToPrint = '';
        htmlToPrint += divToPrint.outerHTML;
        newWin = window.open("");
        newWin.document.write(htmlToPrint);
        newWin.print();
        newWin.close();
    }
</script>
