<div class="container-fluid" id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<%= __("admin.system.search"); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<form id="searchForm" name="searchForm" >
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by title -->
									<div class="col-xs-12 col-sm-3">
										<div class="form-group">
											<div class="form-line">
												<input name="title" class="form-control" id="column_filter_0"  onkeyup="searchDatatable(0)" placeholder="<%= __('admin.push_notifications.search_by_title'); %>">
											</div>
										</div>
									</div>	
									
									<!-- Search by message -->
									<div class="col-xs-12 col-sm-3">
										<div class="form-group">
											<div class="form-line">
												<input name="message" class="form-control" id="column_filter_1"  onkeyup="searchDatatable(1)" placeholder="<%= __('admin.push_notifications.search_by_message'); %>">
											</div>
										</div>
									</div>
									<!-- Search by scheduled time -->
									<div class="col-xs-12 col-sm-4">
										<div class="form-group">
											<div class="form-line">
												<input name="scheduled_time" class="form-control" id="date-range-picker"  placeholder="<%= __('admin.push_notifications.search_by_scheduled_time'); %>">
												<input class="form-control hide" id="from_date" type="text" name="from_date">
											<input class="form-control hide" id="to_date" type="text" name="to_date">
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.push_notifications.push_notifications") %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/add" class="<%= getPermissionClass(module_type,['push_notifications','add']); %> action-btn" data-open-modal="true">
								<button type="button" class="btn bg-indigo waves-effect btn-sm">
									<%= __("admin.system.add"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body hideScroll">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="15%"><%= __("admin.push_notifications.title");%></th>
								<th width="25%"><%= __("admin.push_notifications.message");%></th>
								<th width="20%"><%= __("admin.push_notifications.scheduled_time"); %></th>
								<th width="15%"><%= __("admin.system.status"); %></th>
								<th width="15%"><%= __("admin.system.created"); %></th>
								<th width="10%"><%= __("admin.system.action"); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
<link href="<%=WEBSITE_ADMIN_CSS_PATH%>lightbox.css" rel="stylesheet">
<link href="<%=WEBSITE_ADMIN_CSS_PATH%>jquery-filestyle.min.css" rel="stylesheet">
<link href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
<link href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css" rel="stylesheet">

<%- contentFor("script") %>
<script src="<%=WEBSITE_ADMIN_JS_PATH%>lightbox.js" type="text/javascript"></script>
<script src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
<script src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>datepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var PN_STATUSES = <%-JSON.stringify(PN_STATUSES);%>;
	/** Function to initialize datatable and get server side data*/
	var dataTable		=	"";
	/** set variable for daterangepicker */
	$(document).ready(function() {
		dataTable = $('#datatable-listing').DataTable({
			"bStateSave"	: true,
			"fnStateSave"	: function (oSettings, oData) {
				localStorage.setItem( 'DataTables', JSON.stringify(oData) );
			},
			"fnStateLoad"	: function (oSettings) {
				return JSON.parse( localStorage.getItem('DataTables') );
			},
			"order"		: 	[[4, "desc"]],
			"sDom"		:	"ltipr",
			"serverSide": 	true,
			"scrollX"	: 	true,
			"lengthMenu":	PAGING_LENGTH_MENU,
			"columns"	: 	[
				{  
					"data"	: "title"
				},
				{
					"data"		 : 'message',
					"orderable"	 : false,
					"render"	 : function(message){
						return (message) ? "<span data-content-length=50 class='readmore nl2br'>"+message+"</span>" :"";
					}
				},
				{
					"data"   : 'scheduled_time',
					"render" : function(scheduled_time){
						return moment(scheduled_time).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT);
					}
				},
				{
                    "data"			: "status",
                    "orderable"		: false,
                    "searchable"	: false,
                    "render": function(status){
                        var statusTab	= (status == '<%=PN_SENT%>')	? '<span class="label label-success m-l-5 m-t-5"><%=PN_STATUSES[PN_SENT]%></span>': '<span class="label label-warning m-l-5 m-t-5"><%= PN_STATUSES[PN_SCHEDULED] %></span>';
                        return statusTab;
                    }
                },
				
				
				{
					"data"   : 'created',
					"render" : function(created){
						return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT);
					}
				},
				{
					"data"		 : {},
					"orderable"	 : false,
					"searchable" : false,
					"render" 	 : function(result){
						var id  	= (result._id  ) ? result._id : "";
						var dropDownButton 		=	''+
						'<div class="btn-group">'+
							'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
								'<%= __("admin.system.action"); %> '+
								'<span class="caret"></span>'+
							'</button>'+
							'<ul class="dropdown-menu  width-180">'+
								'<li>'+
									'<a href="<%=admin_list_url%>/view/'+id+'" class="waves-effect waves-block <%# getPermissionClass(module_type,["push_notifications","view"]); %>">'+
										' <%= __("admin.system.view"); %>'+
									'</a>'+
								'</li>'+
								'<li>'+
									'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="confirm_box waves-effect waves-block <%# getPermissionClass(module_type,["push_notifications","delete"]); %>"  data-confirm-message="<%= __("admin.push_notifications.do_you_want_to_delete_this_pn"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
										' <%= __("admin.system.delete"); %>'+
									'</a>'+
								'</li>'+
							'</ul>'+
						'</div>';
						return dropDownButton;
					}
				}
			],

			"ajax":{
				url 	:	"<%=admin_list_url%>",
				type	: 	"POST",
				data	: 	function (d) {
					d.fromDate	=	$('#from_date').val();
					d.toDate 	= 	$('#to_date').val();
				},
				dataSrc	: 	function(res){
					adjustPermissionsClass();
					return res.data;
				}
			},
			"drawCallback": function( settings ) {
				/** Description read more **/
				readMore();
			}
		});
	});

	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query= $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	}//end searchDatatable()
</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>