<% var branchList  = (typeof branch_list !== typeof undefined && branch_list) ? branch_list :""; %>

<div class="container-fluid"  id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<%= __("admin.system.search"); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<form id="searchForm" name="searchForm" >
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by name in english -->
									<div class="col-xs-12 col-sm-3">
										<div class="form-group">
											<div class="form-line">
												<input name="name_in_english" class="form-control" id="column_filter_0"  onkeyup="searchDatatable(0)" placeholder="<%= __('admin.hubs.search_by_name_in_english'); %>">
											</div>
										</div>
									</div>
									<!-- Search by name in arabic -->
									<div class="col-xs-12 col-sm-3">
										<div class="form-group">
											<div class="form-line">
												<input name="name_in_arabic" class="form-control" id="column_filter_1"  onkeyup="searchDatatable(1)" placeholder="<%= __('admin.hubs.search_by_name_in_arabic'); %>">
											</div>
										</div>
									</div>
										<!-- Search by branch name -->
									<div class="col-xs-12 col-sm-3">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick" name="branch_name" id="column_filter_2" data-live-search="true" >
													<option value=""><%= __("admin.hubs.search_by_branch"); %></option>
													<%-branchList%>
												</select>
											</div>
										</div>
									</div>
									<!-- reset button -->
									<div class="col-xs-12 col-sm-3">
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%=  __("admin.hubs.hubs"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url+'/active_branch_list'%>" class='<%= getPermissionClass(module_type,["hubs","branch_list"]); %>'>
								<button type="button" class="btn btn-sm bg-teal waves-effect">
									<%= __('admin.hubs.branch_list'); %>
								</button>
							</a>
						</li>
						<li>
							<a href="<%=WEBSITE_ADMIN_URL+'hub_activity_history'%>" class='<%= getPermissionClass(module_type,["hubs","activity_history"]); %>'>
								<button type="button" class="btn btn-sm bg-teal waves-effect">
									<%= __('admin.hub_activity_history.hub_activity_history'); %>
								</button>
							</a>
						</li>
						<li>
							<a href="<%=admin_list_url+'/add'%>" data-open-modal="true"  class="action-btn <%= getPermissionClass(module_type,['hubs','add']); %>">
								<button type="button" class="btn btn-sm bg-indigo waves-effect">
									<%= __("admin.hubs.add_hubs"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="20%"><%= __("admin.hubs.hub_name_in_english");%></th>
								<th width="20%"><%= __("admin.hubs.hub_name_in_arabic");%></th>
								<th width="10%"><%= __("admin.hubs.no.of_branches");%></th>
								<th width="40%"><%= __("admin.hubs.branches");%></th>
								<th width="10%"><%= __("admin.system.action"); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
    <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript">
		/** Function to initialize datatable and get server side data*/
		var statusObject 	= 	<%- JSON.stringify(GLOBAL_STATUS_SEARCH_DROPDOWN)%>;
		var dataTable		=	"";
		$(document).ready(function() {
			dataTable = $('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables') );
				},
				"order"		: 	[],
				"sDom"		:	"ltipr",
				"serverSide": 	true,
				"scrollX"	: 	true,
				"lengthMenu":	PAGING_LENGTH_MENU,
				"columns"	: 	[
					{ "data": 'name.en'},
					{ "data": 'name.ar'},
					{ "data": 'branches.length', "orderable": false},
					{ "data" : 'branch_list',
						"orderable": false,
						"render": function(result){
							return (result) ? "<span class='readmore'>"+result.join(', ')+"</span>" :"N/A";
						}
					},
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	: 	false,
						"render" 		: 	function(result){
							var id 		=	(result._id)		? 	result._id 		 :'';

							/*  edit Link  */
							var dropDownButton 	= ''+
							'<div class="btn-group">'+
								'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
								'<%= __("admin.system.action"); %>'+
								' <span class="caret"></span>'+
								'</button>'+
									'<ul class="dropdown-menu">'+
										/*  edit Link  */
										'<li>'+
											'<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url%>/edit/'+id+'" data-open-modal="true" class="action-btn  waves-effect ml-5 m-t-5 <%= getPermissionClass(module_type,["hubs","edit"]); %>"><%= __("admin.hubs.edit"); %></a>'+
										'</li>'+
										/*  delete Link  */
										'<li>'+
										'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="waves-effect m-l-5 m-t-5 confirm_box <%= getPermissionClass(module_type,["hubs","delete"]); %>" data-confirm-message="<%= __("admin.hubs.do_you_want_to_delete_this_hub"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
												'<%= __("admin.system.delete"); %>'+
										'</a>' +
										'</li>'+
										/*configuartion Link*/
										'<li>'+
											'<a href="<%=admin_list_url%>/view/'+id+'" class="waves-effect m-l-5 m-t-5 <%= getPermissionClass(module_type,["hubs","view"]); %>">'+
												'<%= __("admin.hubs.configuration"); %>'+
												'</a>'+
										'</li>'+
									'</ul>'+
							'</div>';

							return dropDownButton;
						}
					}
				],
				"ajax":{
					url 	: "<%=admin_list_url%>",
					type	: "POST",
					data	: 	function (d) {
				        d.branch_id		=	$('#column_filter_2').val();
				    },
					dataSrc	: function(res){
						adjustPermissionsClass();
						return res.data;
					}
				},
				"drawCallback": function( settings ) {
					/** Description read more **/
					readMore();
				}
			});
		});

		/** Javascript function to search datatable */
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()

		$("#column_filter_2").change(function(){
			dataTable.draw();
		});
	</script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>