
<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form id="assign-vehicle" action="<%=admin_list_url%>/manage_vehicle/<%=driver_id%>/assign_vehicle" data-submit-btn-id="assign-vehicle-add-btn-id" method="post" class="on_click_submit" role="form">
				<div class="modal-dialog  modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header modal-header-seperator p-l-20 p-b-0">
							<h2 class="modal-title">
								<%=__("admin.user_management.assign_vehicle"); %>
							</h2>
						</div>
						<div class="modal-body padding-20">
							<div class="row clearfix selected">
								<div class="col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<label for="vehicle" class="control-label col-555">
												<%= __("admin.user_management.vehicle"); %>
											</label>
											<select class="form-control show-tick" name="vehicle" id="vehicle">
												<option value=""><%= __("admin.user_management.select_vehicle"); %></option>
												<%-vehicle_list%>
											</select>
										</div>
										<span id="vehicle_error" class="error"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer modal-footer-seperator">
							<button type="button" id="assign-vehicle-add-btn-id" class="btn bg-brown btn-sm waves-effect col-white btn-submit" <%- ADMIN_LOADING_TEXT %> >
								<%= __("admin.system.submit"); %>
							</button>
							<button type="button" class="btn bg-pink btn-sm waves-effect col-white" data-dismiss="modal" aria-hidden="true">
								<%= __("admin.system.cancel"); %>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

<script type="text/javascript">
	$(document).ready(function(){
		/**
		 * Function to submit form
		 */
		$('.btn-submit').click(function(){
			var btnId = $(this).attr('id');
			startTextLoading(btnId);
			ajax_submit('assign-vehicle',function(status,response){
				if(status){
					if(response.status && response.message) notice(response.status,response.message);
					$('#form_modal').modal("hide");
				}else{
					stopTextLoading(btnId);
				}
			});
		});
	});
	/** Refresh bootstrap select box  **/
	$(".show-tick").selectpicker('refresh');
		
</script>
