<div class="container-fluid" id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<%= __("admin.system.search"); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<form id="searchForm" name="searchForm" >
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by cuisine name in english -->
									<div class="col-xs-12 col-sm-5">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_0" name="cuisine_en_name" onkeyup="searchDatatable(0)" placeholder="<%= __("admin.restaurant_cuisines.search_by_cuisine_name_in_english"); %>">
											</div>
										</div>
									</div>
									<!-- Search by cuisine name in arabic -->
									<div class="col-xs-12 col-sm-5">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_1" name="cuisine_ar_name" onkeyup="searchDatatable(1)" placeholder="<%= __("admin.restaurant_cuisines.search_by_cuisine_name_in_arabic"); %>">
											</div>
										</div>
									</div>
									<!-- reset button -->
									<div class="col-xs-12 col-sm-2">
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.restaurant_cuisines.restaurant_cuisines"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin  visible-md visible-lg visible-sm">
						<li>
							<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url+'/'+slug+'/'+restaurantId+'/select_cuisines'%>" data-open-modal="true" class="action-btn <%= getPermissionClass(module_type,['restaurant_cuisines','select_cuisines']); %>">
								<button type="button" class="btn btn-sm bg-indigo waves-effect">
									<%= __("admin.restaurant_cuisines.select_cuisines"); %>
								</button>
							</a>
						</li>
					</ul>
					<!-- Only For Mobile View-->
					<ul class="header-dropdown m-r--5 visible-xs">
						<li class="dropdown">
							<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">more_vert</i>
							</a>
							<ul class="dropdown-menu pull-right m-w-200">
								<li>
									<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url+'/'+slug+'/'+restaurantId+'/select_cuisines'%>" data-open-modal="true" class="action-btn <%= getPermissionClass(module_type,['restaurant_cuisines','select_cuisines']); %>">
										<%= __("admin.restaurant_cuisines.select_cuisines"); %>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="50%"><%= __("admin.restaurant_cuisines.cuisine_en_name");%></th>
								<th width="50%"><%= __("admin.restaurant_cuisines.cuisine_ar_name");%></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	/** Function to initialize datatable and get server side data */
	var dataTable =	"";
	$(document).ready(function() {
		dataTable = $('#datatable-listing').DataTable({
			"bStateSave"	: true,
			"fnStateSave"	: function (oSettings, oData) {
				localStorage.setItem( 'DataTables', JSON.stringify(oData) );
			},
			"fnStateLoad"	: function (oSettings) {
				return JSON.parse( localStorage.getItem('DataTables') );
			},
			"order"		: [],
			"sDom"		: "ltipr",
			"serverSide": true,
			"scrollX"	: true,
			"lengthMenu": PAGING_LENGTH_MENU,
			"columns"	: [
				{ "data" : "cuisine_name.en" },
				{ "data" : "cuisine_name.ar" }
			],
			"ajax":{
				url 	: "<%= admin_list_url %>/<%=slug%>/get-cuisine-list",
				type	: "POST",
				data	: 	{id : '<%=restaurantId%>'},
				dataSrc	: function(res){
					adjustPermissionsClass();
					return res.data;
				}
			}
		});
	});
	
	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query = $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	}//end searchDatatable()
	
</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
