<%
	var attributeType = attribute_type;
%>
<div class="container-fluid" id="main-container">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id"
								data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
								aria-controls="panel-collapse-id">
								<%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel"
						aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<form id="searchForm" name="searchForm">
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by title -->
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_0" onkeyup="searchDatatable(0)" placeholder="<%= __('admin.attribute_management.search_by_title'); %>" name="title">
											</div>
										</div>
									</div>
									<!-- Datatable reset -->
									<div class="col-xs-12 col-sm-3">
										<div class="form-group">
											<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger"><%= __("admin.system.reset")%></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<!-- Start Listing -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= displayType; %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
						<li>
							<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url+'/'+attributeType%>/add" data-open-modal="true" class="action-btn <%= getPermissionClass(module_type,['attribute_management','add']); %>">
								<button type="button" class="btn btn-sm bg-indigo waves-effect">
									<%= __('admin.system.add')+" "+displayType; %>
								</button>
							</a>
						</li>
					</ul>
					<!-- Only For Mobile View-->
					<ul class="header-dropdown m-r--5 visible-xs <%= getPermissionClass(module_type,['attribute_management','add']); %>">
						<li class="dropdown">
							<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="material-icons">more_vert</i>
							</a>
							<ul class="dropdown-menu pull-right m-w-200">
								<li class=''>
									<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url+'/'+attributeType%>/add" data-open-modal="true" class="action-btn <%= getPermissionClass(module_type,['attribute_management','add']); %>">
										<%= __('admin.system.add')+" "+displayType; %>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="body hideScroll">
					<table id="datatable-listing" class="row-border hover table table-bordered cb-data-table"
						cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="40%"><%= __("admin.attribute_management.title");%></th>
								<th width="30%"><%= __("admin.attribute_management.order");%></th>
								<th width="20%"> <%= __('admin.system.modified');%>	</th>
								<th><%= __("admin.system.action"); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
    <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript">
		/** Function to initialize datatable and get server side data*/
		var dataTable 	= "";
		let oldId 		= "";
		$(document).ready(function () {
			dataTable = $('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem('DataTables', JSON.stringify(oData));
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse(localStorage.getItem('DataTables'));
				},
				"order"	: [[2,"desc"]],
				"sDom"	: "ltipr",
				"serverSide": true,
				"scrollX"	: true,
				"lengthMenu": PAGING_LENGTH_MENU,
				"columns"	: [
					{ 	"data" : 'title'},
					{
						"data"		: {},
						"searchable": false,
						"field_name": "order",
						"render"	: function (result) {
							var id 		  = (result._id)       ? result._id       :"";
							var parentId  = (result.parent_id) ? result.parent_id :0;
							var orderLink =
								'<div>' +
									'<span id="orderData_' + id + '" onclick="showtextBox(this)" class = "orderElement">' + result.order + '</span>' +
									'<div id="orderDiv_' + id + '" class="orderdiv" style="display:none;">' +
										'<input name="orderNewValue" id="orderValue_' + id + '" class="form-control list-order-text-box" value="' + result.order + '" type="text"/>' +
										'<span id="orderNewValue_error" class="error"></span>' +
										'<a href="javascript:void(0)" class="form-control color-fff p-b-0 p-r-5 p-l-5 list-order-submit-button btn-success submit_order <%= getPermissionClass(module_type,["attributes","change_order"]); %>" data-id="' + id + '">' +
											'<i class="material-icons list-order-submit-button-ican">done</i>'+
										'</a>' +
									'</div>' +
								'</div>';
							return orderLink;
						}
					},
					{
						"data"		: 	'modified',
						"render"	:	function(modified){
							return moment(modified).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
					{
						"data"		 : '_id',
						"orderable"  : false,
						"searchable" : false,
						"render"     : function (id) {
							var dropDownButton = '' +
							'<div class="btn-group">' +
								'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">' + '<%= __("admin.system.action"); %> <span class="caret"></span></button>' +
								'<ul class="dropdown-menu">' +
									/** Edit Link **/
									'<li>' +
										'<a href="<%= originalUrl %>" data-action-url="<%=admin_list_url+"/"+attributeType%>/edit/'+id+'" data-open-modal="true" class="action-btn waves-effect waves-block <%= getPermissionClass(module_type,["attribute_management","edit"]); %>">' +
											' <%= __("admin.system.edit"); %>' +
										'</a>' +
									'</li>' +
									/** Delete Link */
									/*'<li>' +
										'<a href="javascript:void(0)" data-href="<%=admin_list_url+"/"+attributeType%>/delete/'+id+'" class="waves-effect waves-block confirm_box <%= getPermissionClass(module_type,["attribute_management","delete"]); %>" data-confirm-message="<%= __("admin.attribute_management.you_want_to_delete_this_attribute",displayType.toLowerCase()); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">' +
											'<%= __("admin.system.delete"); %>' +
										'</a>' +
									'</li>' + */
								'</ul>' +
							'</div>';
							return dropDownButton;
						}
					}
				],
				"ajax": {
					url		: "<%=admin_list_url+'/'+attributeType%>",
					type	: "POST",
					dataSrc	: function (res) {
						adjustPermissionsClass();
						return res.data;
					}
				}
			});

			/** Update Order value */
			$(document).on('click', '.submit_order', function (e) {
				var id      = $(this).attr("data-id");
				var order   = $(this).parent().find("input[type='text']").val();
				var options = {
					url    : "<%=admin_list_url+'/'+attributeType%>/change_order",
					method : "POST",
					data   : { new_order: $.trim(order), id: id }
				}
				ajaxRequest(options,function(res){
					if(res.status && res.message) notice(res.status,res.message);
					if(res.status == "<%=STATUS_SUCCESS%>") dataTable.draw();
				});
			});

			/** Update Order value */
			$(document).on('keyup', '.list-order-text-box', function (e) {
				if (e.keyCode == 13) {
					$(this).parent().find(".submit_order").trigger("click");
					return false;
				}
			});
		});

		/** Javascript function to search datatable */
		function searchDatatable(columnNumber) {
			var query = $('#column_filter_' + columnNumber).val();
			dataTable.column(columnNumber).search(query).draw();
		}//end searchDatatable()

		/** Javascript function to show text Box */
		var oldValue = "";
		function showtextBox(obj) {
			var idArray    = obj.id.split("_");
			var current_id = idArray[1];
			$("#orderDiv_" + current_id).show();
			$("#orderData_" + current_id).hide();
			if (current_id != oldId && oldId != "") {
				$("#orderValue_" + oldId).val(oldValue);
				$("#orderDiv_" + oldId).hide();
				$("#orderData_" + oldId).show();
			}
			oldId	 = current_id;
			oldValue = $("#orderValue_" + current_id).val();
		};//end showtextBox();
	</script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
