
<%
	var type			=	(typeof type !== typeof undefined && type) ? type :false;
	var restaurantList 	= 	(typeof restaurant_list !== typeof undefined && restaurant_list) ? restaurant_list :"";
	var nameSearchNumber 	= COLUMN_TWO;
	var arNameSearchNumber	= COLUMN_THREE;
	var statusFilter		= COLUMN_SIX;

	if(!isRestaurant(module_type)){
		nameSearchNumber 	= (type) ? COLUMN_FOUR  : COLUMN_THREE;
		arNameSearchNumber 	= (type) ? COLUMN_FIVE  : COLUMN_FOUR;
		statusFilter 		= (type) ? COLUMN_EIGHT : COLUMN_SEVEN;
	}
	let searchStaus = (typeof search_status !== typeof undefined && search_status) ? search_status : "";
%>
<% if(isRestaurant(module_type)){ %>
	<div class="alert bg-grey alert-dismissible submit-for-approval <%= getPermissionClass(module_type,['item','send_for_approval']); %>" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<%= __("items.you_need_to_click_on_send_for_approval"); %>
	</div>
<% } %>
<!--Search Start -->
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
			<div class="panel panel-col-pink">
				<div class="panel-heading" role="tab" id="panel-heading-id">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false" aria-controls="panel-collapse-id">
							<%= __("system.search"); %>
							<span class="pull-right collapse-toggle-icon"></span>
						</a>
					</h4>
				</div>
				<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
					<div class="panel-body">
						<form id="searchForm" name="searchForm" >
							<div class="row clearfix dataTables_wrapper">
								<% if(type && !isRestaurant(module_type)){ %>
									<!-- Search by restaurant -->
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick" name="restaurant_slug" id="column_filter_2" data-live-search="true" onchange="searchDatatable(2)">
													<option value=""><%= __("items.search_by_restaurant"); %></option>
													<%-restaurantList%>
												</select>
											</div>
										</div>
									</div> <%
								} %>
								<!-- Search by name in english -->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_<%= nameSearchNumber %>" onkeyup="searchDatatable(<%= nameSearchNumber %>)" placeholder="<%= __('items.search_by_name_in_english'); %>" name="name_in_english">
										</div>
									</div>
								</div>
								<!-- Search by name in arabic-->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_<%= arNameSearchNumber %>" onkeyup="searchDatatable(<%= arNameSearchNumber %>)" placeholder="<%= __('items.search_by_name_in_arabic'); %>" name="name_in_arabic">
										</div>
									</div>
								</div>
								<!-- Search by status -->
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
									<div class="form-group">
										<div class="form-line">
											<select class="form-control show-tick" id="column_filter_<%=statusFilter%>"  onChange="searchDatatable(<%=statusFilter%>)" name="category_status_search">
												<option value=""><%=__("items.search_by_status");%></option>
													<%
													Object.keys(COMMAN_STATUS_SEARCH_DROPDOWN).map(key=>{
														if(key != APPROVED && key != REJECTED || (isRestaurant(module_type) && key == REJECTED)){
														let isSelected = (searchStaus == key) ?"selected" : "";
													%>
														<option value="<%=key%>" <%=isSelected%>>
															<%=(COMMAN_STATUS_SEARCH_DROPDOWN[key].status_name) ? COMMAN_STATUS_SEARCH_DROPDOWN[key].status_name :"";%>
														</option>
													<%
														}
													}); %>
											</select>
										</div>
									</div>
								</div>
								<!-- reset button -->
								<div class="col-md-2">
									<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" <%= (!isRestaurant(module_type) && type) ? 'data-href='+WEBSITE_ADMIN_URL+'restaurant_item' : ''; %>>
										<%= __("system.reset")%>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Search End -->
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					<%=  __("item_managers.pending_items"); %>
				</h2>
				<% if(!isRestaurant(module_type)){ %>
					<ul class="header-dropdown m-r--5 btn-right-top-margin  visible-md visible-lg visible-sm <%= getPermissionClass(module_type,['item','admin_action']); %>">
						<li>
							<select class="perform_action show-tick form-control border-bottom m-t--10">
								<option value=""><%= __("system.select_action"); %></option>
								<option value="<%= IN_REVIEW %>">
									<%= __("items.mark_as_in_review"); %>
								</option>
								<option value="<%= APPROVED %>" >
									<%= __("items.mark_as_approved"); %>
								</option>
								<option value="<%= REJECTED %>" >
									<%= __("items.mark_as_disapproved"); %>
								</option>
							</select>
						</li>
					</ul>
				<% } %>

				<!-- Only For Mobile View-->
				<ul class="header-dropdown m-r--5 visible-xs">
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons">more_vert</i>
						</a>
						<ul class="dropdown-menu pull-right m-w-200">
							<li class="<%= getPermissionClass(module_type,['item','add']); %>">
								<a href="<%= originalUrl %>" data-action-url="<%=list_url%>/add" data-open-modal="true" class="action-btn">
									<%= __("item_manager.add_item"); %>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="body hideScroll">
				<table id="datatable-pending-item" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<% if(!isRestaurant(module_type)) { %>
								<th width="3%" class="p-r-10 text-center" >
									<div class="materialize_checkbox">
										<input type="checkbox" class="filled-in chk-col-indigo" id="item_select_all">
										<label for="item_select_all" class="select_all p-l-20 v-align-bottom m-b-0"></label>
									</div>
								</th>
							<% } %>
							<th width="8%"><%= __("items.image");%></th>
							<% if(type){ %>
								<th width="15%"><%= __("items.restaurant_name");%></th>
							<% } %>
							<th width="10%"><%= __("items.item_id");%></th>
							<th width="14%"><%= __("items.name_in_english");%></th>
							<th width="15%"><%= __("items.name_in_arabic");%></th>
							<th width="10%"><%= __("items.description_in_english");%></th>
							<th width="10%"><%= __("items.description_in_arabic");%></th>
							<th width="15%"><%= __("system.status");%></th>
							<th><%= __("system.action"); %></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- Modal for reject item request-->
<div class="modal fade" id="reject-item" tabindex="-1" role="dialog" aria-labelledby="reject_enquiry" aria-hidden="true">
	<div class="modal-dialog"  role="document">
		<div class="modal-content">
			<div class="modal-header modal-header-seperator">
				<h4 class="modal-title"><%=__("items.reject_item_title") %></h4>
			</div>
			<form id="reject-item" data-submit-btn-id="reject-item-btn" method="post" class="on_click_submit" role="form" action='<%=WEBSITE_RESTAURANT_URL%>pending_item/item_action'>
				<input type="hidden" name="item_id" id="item_id">
				<input type="hidden" name="status" id="status" value="<%= REJECTED%>">
				<div class="modal-body">
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-grop">
								<div class="form-lin no-bottom-border">
									<label for="rejection_message" class="control-label"><%= __('items.rejection_field'); %><span class="required"> *</span>  </label>
									<div class="form-grop margin-0">
										<div class="form-line">
											<textarea id="rejection_reason" rows="6" class="resize-none form-control" name="rejection_reason"></textarea>
										</div>
										<span id="rejection_reason_error" class="error"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer border-top">
					<button type="button"  id="reject-item-btn" <%- ADMIN_LOADING_TEXT %> class="btn bg-brown btn-sm waves-effect reject-item-btn-submit noHover margin-0"><%= __("admin.system.submit"); %>
					</button>
					<button type="button" class="btn bg-pink btn-sm waves-effect close_modal noHover" data-dismiss="modal"><%= __("admin.system.cancel"); %></button>
				</div>
			</form>
		</div>
	</div>
</div><!--modal close-->

<link rel="stylesheet" href="<%=WEBSITE_JS_PLUGIN_PATH%>chosen/chosen.css">
<script type="text/javascript" src="<%=WEBSITE_JS_PLUGIN_PATH%>chosen/chosen.jquery.js"></script>
<script type="text/javascript">
	/** Function to initialize datatable and get server side data */
	var STATUS_LABELS = <%- JSON.stringify(STATUS_LABELS)%>;
	var dataTable	  =	"";
	var itemCheckboxArray = {};
	$(document).ready(function() {
		$(".show-tick").selectpicker('refresh');
		dataTable = $('#datatable-pending-item').DataTable({
			"bStateSave"	: true,
			"fnStateSave"	: function (oSettings, oData) {
				localStorage.setItem( 'DataTables', JSON.stringify(oData) );
			},
			"fnStateLoad"	: function (oSettings) {
				return JSON.parse( localStorage.getItem('DataTables') );
			},
			"order"		: 	[],
			"sDom"		:	"ltipr",
			"serverSide": 	true,
			"scrollX"	: 	true,
			"lengthMenu":	PAGING_LENGTH_MENU,
			"columns"	: 	[
				<% if(!isRestaurant(module_type)) { %>
					{ 	"data"		: {},
						"orderable" : false,
						"render" 	: 	function(result){
							let itemId 	=	(result._id) ? 	result._id 	:"";

							return '<div class=" materialize_checkbox  p-r-25">'+
								'<div class="checkbox_wrapper">'+
									'<input type="checkbox" class="filled-in chk-col-indigo" id="'+itemId+'" >'+
									'<label for="'+itemId+'" class="checkbox data"></label>'+
								'</div>'+
							'</div>';
						}
					},
				<% } %>
				{ 	"data"		 : 'full_image_path',
					"orderable"	 : false,
					"searchable" : false,
					"render"    : function(full_image_path){
						var imageSrc = ( typeof full_image_path != typeof undefined) ? full_image_path : '' ;
						return  ('<a href="'+imageSrc+'" class="items-image waves-effect" data-lightbox="roadtrip'+imageSrc+'"><img src="'+imageSrc+'" alt="Item Image" class="thumbnail set_image_dim" /></a>');
					}
				},
				<% if(type && !isRestaurant(module_type)){ %>
					{
						"data"		 : {},
						"field_name" : "restaurant_slug",
						"orderable"	 : false,
						"searchable" : false,
						"render"	 : function(result){
							return (result.restaurant_name)	? result.restaurant_name :"";
						}
					},
				<% } %>
				{ 	"data"		 : 'item_id',
					"searchable" : false
				},
				{ 	"data": 'name.en' },
				{	"data": 'name.ar' },
				{
					"data"		 : 'description.en',
					"orderable"	 : false,
					"render"	 : function(description){
						return (description) ? "<span class='readmore nl2br'>"+description+"</span>" :"";
					}
				},
				{
					"data"		 : 'description.ar',
					"orderable"	 : false,
					"render"	 : function(description){
						return (description) ? "<span class='readmore nl2br'>"+description+"</span>" :"";
					}
				},
				{
					"data"		 : {},
					"orderable"	 : false,
					"field_name" : "status",
					"field_type" : "<%= NUMERIC_FIELD %>",
					"render"     : function(result){
						var status 			    = (result.status) 				? result.status 			: '<%= PENDING %>';
						var availabilityStatus 	= (result.availability_status)	? result.availability_status:'';
						var rejectionReason	    = (result && result.reject_reason) ? result.reject_reason	:"";
						var statusTitle		    = (STATUS_LABELS[status] && STATUS_LABELS[status].status_name) ? STATUS_LABELS[status].status_name :"";
						var statusClass		    = (STATUS_LABELS[status] && STATUS_LABELS[status].class)	   ? STATUS_LABELS[status].class       :"";
						var statusTab           = '<span class="label '+statusClass+'">'+statusTitle+'</span>';

						if(rejectionReason && status == "<%= REJECTED %>"){
							statusTab +=  '<i class="material-icons font-20 rejection-info-icon display-inline" title="'+rejectionReason+'" data-toggle="tooltip" data-placement="left" >info</i>';
						}
						statusTab += (availabilityStatus == "<%=AVAILABLE%>")	? '<span class="label label-success"><%=__("items.available")%></span>' :'';

						<% if(isRestaurant(module_type)){ %>
							statusTab += (result.submit_for_approval) ? '<p></p><span class="label label-success"><%=__("items.submitted_for_approval")%></span>' : '<p></p><span class="label label-danger"><%=__("items.not_submitted_for_approval")%></span>';
						<% } %>

						return statusTab;
					}
				},
				{
					"data"			: {},
					"orderable"		: false,
					"searchable"	: false,
					"render" 		: function(result){
						var id 				 = (result._id)		? result._id 	:"";
						var status 			 = (result.status)	? result.status :'<%= PENDING %>';
						var restaurantSlug 	 = (result.restaurant_slug)	    ? result.restaurant_slug :'';
						var isReviewVisible	 = (status == '<%= PENDING %>') ? true 					 : false;
						var isApproveVisible = (status == '<%= PENDING %>' || status == '<%= IN_REVIEW %>') ? true : false;
						var hideEditButton   = (status == '<%= IN_REVIEW %>') ? 'hide' : '';
						var dropDownButton 	 = ''+
						'<div class="btn-group">'+
							'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
								'<%= __("admin.system.action"); %> '+
								'<span class="caret"></span>'+
							'</button>'+
							'<ul class="dropdown-menu">';
								<% if(!type){ %>
									if("<%=slug%>" != "<%=BURGER_KING%>" && "<%=slug%>" != "<%=PIZZA_HUT%>" && (status != "<%= IN_REVIEW%>" || <%= !isRestaurant(module_type) %>)) {
										dropDownButton += '<li>'+
											'<a href="<%= originalUrl %>" data-action-url="<%=WEBSITE_RESTAURANT_URL%>'+restaurantSlug+'/pending_item/edit/'+id+'" data-open-modal="true"  class="action-btn waves-effect waves-block <%= getPermissionClass(module_type,["item","edit"]); %>">'+' <%= __("admin.system.edit"); %>'+
											'</a>'+
										'</li>';
									}
								<% } %>
								if(<%= !isRestaurant(module_type) %> && "<%=slug%>" != "<%=BURGER_KING%>" && "<%=slug%>" != "<%=PIZZA_HUT%>"){
									/** In-Review Link */
									dropDownButton += (isReviewVisible) ? '<li>'+
										'<a href="javascript:void(0)" class="waves-effect waves-block item_action_btn review <%= getPermissionClass(module_type,["item","admin_action"]); %>" onclick="updateItemStatus(<%= IN_REVIEW%>,\''+id+'\')" data-confirm-message="<%= __("items.do_you_want_to_review"); %>">'+
										'<%= __("items.in_review"); %>'+
									'</li>' : '';

									/** Approve Link **/
									dropDownButton += (isApproveVisible) ? '<li>'+
										'<a href="javascript:void(0);" class="waves-effect waves-block item_action_btn <%= getPermissionClass(module_type,["item","admin_action"]); %>" onclick="updateItemStatus(<%=APPROVED%>,\''+id+'\')" data-confirm-message="<%= __("items.you_want_to_approve_this_item"); %>">'+
											'<%= __("items.approve_items"); %>'+
										'</a>'+
									'</li>'+

									/** Reject Link **/
									'<li>'+
										'<a href="javascript:void(0);" class="waves-effect waves-block item_action_btn <%= getPermissionClass(module_type,["item","admin_action"]); %>" onclick="updateItemStatus(<%= REJECTED %>,\''+id+'\')">'+
											'<%= __("items.reject_items"); %>'+
										'</a>'+
									'</li>' : '';
								}
								<% if(!type && slug != BURGER_KING && slug != PIZZA_HUT){ %>
									dropDownButton += '<li>'+
										'<a href="<%=base_url%>pending_choice_group/'+id+'" class="waves-effect waves-block <%= getPermissionClass(module_type,["item","choice_group"]); %>">'+' <%= __("item_manager.pending_choice_group"); %>'+
										'</a>'+
										'</li>'+
										'<li>'+
											'<a href="<%=base_url%>pending_extra_items/'+id+'" class="waves-effect waves-block <%= getPermissionClass(module_type,["item","extra_items"]); %>">'+' <%= __("item_manager.pending_extra_items"); %>'+
											'</a>'+
										'</li>';
								<% } %>
								<% if(type && !isRestaurant(module_type)){ %>
									/** View Link for admin only **/
									dropDownButton +='<li>'+
										'<a href="<%=WEBSITE_ADMIN_URL%>restaurants/'+restaurantSlug+'/pending_item/'+id+'" target="_blank" class="waves-effect waves-block <%= getPermissionClass(module_type,["item","view"]); %>">'+
											'<%= __("items.item_details"); %>'+
										'</a>'+
									'</li>';
								<% }else{ %>
									/** View Link **/
									dropDownButton +='<li>'+
										'<a href="<%= originalUrl %>" data-action-url="<%=WEBSITE_RESTAURANT_URL%>'+restaurantSlug+'/pending_item/view/'+id+'" data-restaurant-url="<%=base_url%>pending_item/'+id+'" class="waves-effect waves-block action-btn scroll-to-top <%= getPermissionClass(module_type,["item","view"]); %>">'+
											'<%= __("items.item_details"); %>'+
										'</a>'+
									'</li>';
								<% } %>
								<% if(isRestaurant(module_type) && slug != BURGER_KING && slug != PIZZA_HUT){ %>
									if(!result.submit_for_approval){
										/** Submit for approval button only for restaurant*/
										dropDownButton +='<li>'+
											'<a href="javascript:void(0);" data-href="<%=list_url%>/send_for_approval/'+id+'" class="waves-effect waves-block confirm_box <%= getPermissionClass(module_type,["item","send_for_approval"]); %>" data-confirm-message="<%= __("items.you_want_to_submit_new_changes_for_approval"); %>" data-confirm-heading="<%= __("system.are_you_sure") %>" >'+
												'<%= __("items.send_for_approval"); %>'+
											'</a>'+
										'</li>';
									}
								<% } %>
								dropDownButton += '</ul>'+
							'</div>';
							return dropDownButton;
					}
				}
			],
			"ajax":{
				url 	:	"<%=list_url%>",
				type	: 	"POST",
				dataSrc	: 	function(result){
					setTimeout(()=>{
						dataTable.columns.adjust();
					},100);
					adjustPermissionsClass();
					return result.data;
				}
			},
			"drawCallback": function( settings ) {
				$('[data-toggle="tooltip"]').tooltip();
				/** Description read more **/
				readMore();
			}
		});

		/**check/uncheck checkbox select all check/uncheck*/
		$(document).on('change','#item_select_all',function(){
			var isChecked	= $(this).is(':checked');
			$('.checkbox_wrapper input[type="checkbox"]').not(":disabled").prop("checked",isChecked).trigger("change");
		});

		/**Check/Uncheck checkbox*/
		$(document).on('change','.checkbox_wrapper input[type="checkbox"]',function(){
			var id          = $(this).attr('id');
			var isChecked	= $(this).is(':checked');
			if(isChecked){
				itemCheckboxArray[id] = true;
			}else{
				delete itemCheckboxArray[id];
			}
			var totalCheckBox = $('.checkbox_wrapper input[type="checkbox"]').not(":disabled").length;
			var checkedBox = $('.checkbox_wrapper input[type="checkbox"]:checked').length;
			let selectAll = (totalCheckBox == checkedBox) ? true : false;
			$("#item_select_all").prop("checked",selectAll);
		});

		/** To update status for all selected item */
		$(".perform_action").change(function(){
			updateItemStatus($(this).val());
		});
	});

	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query= $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	}//end searchDatatable()

	<% if(searchStaus){%>
		searchDatatable(<%=statusFilter%>);
	<%}%>
	/**
	* Function to submit  modal form
	*/
	$(".reject-item-btn-submit").click(function(){
		var btnId = $(this).attr("id");
		startTextLoading(btnId);
		ajax_submit("reject-item",function(status,response){
			stopTextLoading(btnId);
			if(status){
				if(response.status && response.message) notice(response.status,response.message);
				dataTable.draw();
				$('#reject-item').modal('hide');
			}
		});
	});

	/** Javascript function to update item status */
	function updateItemStatus(status,itemId){
		var itemIdArray = (itemId) ? [itemId] : Object.keys(itemCheckboxArray);

		if(status == "<%=APPROVED%>" || status=="<%=IN_REVIEW%>" || status=="<%=REJECTED%>"){
			if(itemIdArray.length < 1){
				notice("<%= STATUS_ERROR %>","<%= __('items.please_select_atleast_one_item')%>");
				return false;
			}
			if(status == "<%=REJECTED%>"){
				$('#item_id').val(itemIdArray.join(","));
				$("#rejection_reason_error").text('');
				$('#rejection_reason').val("");
				$('#status').val(status);
				$("#reject-item .modal-title").html('<%=__("items.reject_item_title") %>');
				$('#reject-item').modal('show');
			}else{
				/** Confirm  box **/
				confirmBox("warning",'<%= __("system.are_you_sure") %>','<%= __("item.do_you_want_to_update_status"); %>',function(result){
					if(result){
						var options = {
							url 	: 	"<%=WEBSITE_RESTAURANT_URL%>pending_item/item_action",
							data	: 	{item_id: itemIdArray.join(","), status: status},
							method	:	"post"
						};
						ajaxRequest(options,function(response){
							if(response.status && response.message) notice(response.status,response.message);
							dataTable.ajax.reload(null, false);
							itemCheckboxArray = {};
							$("#item_select_all").prop("checked",false);
						});
					}
					swal.close();
				});
			}
		}
	}// end updateItemStatus()
</script>
<script type="text/javascript" src="<%=WEBSITE_JS_PATH%>datatable_state_storage.js"></script>
