<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form action="<%=admin_list_url+'/select_cuisine_priority'%>" data-modal-id="form_modal" id="select_cuisine_priority_form" data-submit-btn-id="select_cuisine_priority_btn"
            method="post" class="on_click_submit" role="form">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-seperator p-l-20 p-b-0">
                        <h2 class="modal-title">
                            <%= __("admin.cuisines.select_cuisine_priority"); %>
                        </h2>
                    </div>
                    <div class="modal-body padding-20 scroll-body">
                        <div class="row clearfix">
                            <div class="col-sm-12 body">
                                <table id="datatable-add-cuisine-priority" class="row-border full-length-header hover table table-bordered cb-data-table datatable"
                                    cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th><%= __("admin.cuisines.cuisine_name");%></th>
                                            <th><%= __("admin.cuisines.order");%></th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<% result.map((record, index)=>{ %>
											<tr>
												<input type="hidden" name="data[<%=index%>][cuisine_id]" value="<%=record._id%>">
												<td><%=(record.name[DEFAULT_LANGUAGE_CODE]) ? record.name[DEFAULT_LANGUAGE_CODE] : ""%></td>
												<td>
													<input type="text" id="order" class="form-control" name="data[<%=index%>][order]" value="<%=(record.order) ? record.order : ''%>"/>
													<span id="order_<%=index%>_error" class="error model_select_error"></span>
												</td>
											</tr>
										<% }); %>
                                    </tbody>
                                </table>
							</div>
						</div>
					</div>
					<div class="modal-footer modal-footer-seperator">
						<button type="button" id="select_cuisine_priority_btn" class="btn bg-brown btn-sm waves-effect col-white btn-submit" <%- ADMIN_LOADING_TEXT %>>
                            <%= __("admin.system.submit"); %>
                        </button>
						<button type="button" class="btn bg-pink btn-sm waves-effect col-white" data-dismiss="modal" aria-hidden="true">
							<%= __("admin.system.cancel"); %>
						</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		/** For initialization of modal datatable */
		var dataTable = $('#datatable-add-cuisine-priority').DataTable({
			"order"     :   false,
			"sDom"      :   "ltpr",
			"serverSide":   false,
			"scrollX"   :   false,
			"paging"	:	false,
			"columnDefs": [
				{ orderable: false, "targets": [ 0,1 ] }
			]
		});
	});

	/** For submit form  */
	$(".btn-submit").click(function () {
		var btnId = $(this).attr("id");
		ajax_submit("select_cuisine_priority_form", function (status, response) {
			if (status) {
				$("#reset").trigger("click");
			} else {
				stopTextLoading(btnId);
			}
		});
	});

	/** For scroll model body  **/
	$(".scroll-body").mCustomScrollbar({
		theme			:"dark-3",
		mouseWheelPixels: 400
	});
</script>
