<div class="container-fluid" id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<%= __("admin.system.search"); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<form id="searchForm" name="searchForm" >
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by voc for -->
									<div class="col-xs-12 col-sm-5">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick"  id="column_filter_0"   onchange="searchDatatable(0)" name="voc_for">
													<option value=""><%=__("admin.voc_management.search_by_voc_for");%></option>
													<%  Object.keys(VOC_FOR).map(key=>{ %>
														<option value="<%=key%>"><%= VOC_FOR[key]%></option>
													<% }); %>
												</select>
											</div>
										</div>
									</div>
									<!-- Search by type -->
									<div class="col-xs-12 col-sm-5">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick"  id="column_filter_1"   onchange="searchDatatable(1)" name="type">
													<option value=""><%=__("admin.voc_management.search_by_type");%></option>
													<optgroup label="<%=VOC_FOR[VOC_FOR_CAPTAIN]%>">
														<%  Object.keys(VOC_TYPE_FOR_CAPTAIN).map(key=>{ %>
															<option value="<%=key%>"><%= VOC_TYPE_FOR_CAPTAIN[key]%></option>
														<% }); %>
													</optgroup>
													<optgroup label="<%=VOC_FOR[VOC_FOR_CLIENT]%>">
														<%  Object.keys(VOC_TYPE_FOR_CLIENT).map(key=>{ %>
															<option value="<%=key%>"><%= VOC_TYPE_FOR_CLIENT[key]%></option>
														<% }); %>
													</optgroup>
												</select>
											</div>
										</div>
									</div>
									<!-- Search by reset -->
									<div class="col-md-2">
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%=  __("admin.voc_management.voc_management"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url+'/add'%>" class="<%= getPermissionClass(module_type,['voc_management','add']); %>">
								<button type="button" class="btn bg-indigo waves-effect btn-sm">
									<%= __("admin.voc_management.add_voc"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><%= __("admin.voc_management.voc_for"); %></th>
								<th><%= __("admin.voc_management.type"); %></th>
								<th><%= __("admin.system.status");%></th>
								<th><%= __("admin.system.action"); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
    <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript">

		/** Function to initialize datatable and get server side data*/
		var dataTable				=	"";
		var VOC_FOR 				= <%-JSON.stringify(VOC_FOR)%>;
		var VOC_TYPE_FOR_CAPTAIN 	= <%-JSON.stringify(VOC_TYPE_FOR_CAPTAIN)%>;
		var VOC_TYPE_FOR_CLIENT 	= <%-JSON.stringify(VOC_TYPE_FOR_CLIENT)%>;
		var statusObject 			= <%- JSON.stringify(GLOBAL_STATUS_SEARCH_DROPDOWN)%>;
		
		$(document).ready(function() {
			dataTable = $('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables') );
				},
				"order"		: 	[],
				"sDom"		:	"ltipr",
				"serverSide": 	true,
				"scrollX"	: 	true,
				"lengthMenu":	PAGING_LENGTH_MENU,
				"columns"	: 	[
					{
						"data"	  : 'voc_for',
						"render"  : function(voc_for){
							return VOC_FOR[voc_for];
						}
					},
					{
						"data"			: 	{},
						"field_name"	:   "type",
						"render" 		: 	function(result){
							var type 	=	(result.type) 	 ? result.type 	  :'';
							var vocFor 	=	(result.voc_for) ? result.voc_for :'';
							return (vocFor == '<%=VOC_FOR_CAPTAIN%>') ? VOC_TYPE_FOR_CAPTAIN[type] : VOC_TYPE_FOR_CLIENT[type];
						}
					},
					{
						"data"			: 	"status",
						"orderable"		:   false,
						"searchable"	: 	false,
						"field_type"	:   "<%= NUMERIC_FIELD %>",
						"render"		: 	function(status){
							var statusClass		=	(statusObject[status] && statusObject[status]["label_class"]) ? statusObject[status]["label_class"] :"";
							var statusLabel		=	(statusObject[status] && statusObject[status]["status_name"]) ? statusObject[status]["status_name"] :"";
							return '<span class="label '+statusClass+'">'+statusLabel+'</span>';
						}
					},
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	: 	false,
						"render" 		: 	function(result){
							var id 		=	(result._id) 	? 	result._id 	:'';
							var status	=	(result.status)	? 	result.status :'<%= DEACTIVE %>';
							var notEditable =	(result.not_editable) 	? 	result.not_editable 	:false;

							/** Status link text, title and  link icon **/
							var statusLinkText  =	(status == '<%= DEACTIVE %>') ? "<%= __('admin.system.active'); %>"			   :"<%= __('admin.system.deactive'); %>";
							var statusLinkTitle	=  	(status == '<%= DEACTIVE %>') ? "<%= __('admin.system.click_to_activate'); %>" :"<%= __('admin.system.click_to_deactivate'); %>" ;
							var statusLinkIcon  =	(status == '<%= DEACTIVE %>') ?	"done"	 : "block";
							var buttonColor		=   (status == '<%= DEACTIVE %>') ?	"bg-blue": "bg-red";
							var dropDownButton 	= '';

							/*  edit Link  */
							if(!notEditable){
								dropDownButton 	= ''+
									'<a href="<%=admin_list_url%>/edit/'+id+'" class="btn bg-indigo waves-effect m-l-5 m-t-5 <%= getPermissionClass(module_type,["voc_management","edit"]); %>"><%= __("admin.system.edit"); %></a>';
							}
							/*  change status  Link  */
							dropDownButton += '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update-status/'+id+'/'+status+'" class="btn '+buttonColor+' waves-effect m-l-5 m-t-5 confirm_box <%= getPermissionClass(module_type,["voc_management","active_deactive"]); %>" data-confirm-message="<%= __("admin.voc_management.do_you_want_to_change_status_of_this_voc"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+statusLinkTitle+'">'+
								''+statusLinkText+'</a>';

							return dropDownButton;
						}
					}
				],

				"ajax":{
					url 	:	"<%=admin_list_url%>",
					type	: 	"POST",
					dataSrc	: 	function(res){
						adjustPermissionsClass();
						return res.data;
					}
				},
			});
		});

		/** Javascript function to search datatable */
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()

	</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
