<%
var result 		= 	(typeof result !== typeof undefined && result) 		?	result 		:[];
var branchId	=	(typeof branch_id !== typeof undefined && branch_id)?	branch_id 	:"";
%>
<div class="row pull-right">
	<% if(slug != BURGER_KING && slug != PIZZA_HUT){ %>
		<div class="col-sm-2">
			<a href="<%= originalUrl %>" data-action-url="<%=list_url+'/add_phone_number/'+branchId%>" data-open-modal="true" class="action-btn freezed_event hideMe">
				<button type="button" class="btn btn-sm bg-indigo waves-effect">
					<%= __("branch_phones.add_phone_number"); %>
				</button>
			</a>
		</div>
	<% } %>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="body">
			<table id="datatable-payment-method-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th width="20%"><%= __("branch_phones.phone_number");%></th>
						<th width="25%"><%= __("branch_phones.contact_name");%></th>
						<th><%= __("branch_phones.category");%></th>
						<th width="15%"> <%= __("system.action");%> </th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	/** Call to freezed event **/
	updateFreezedEvent();

	var checkboxArray = {};
	$(document).ready(function() {
		var dataTable = $('#datatable-payment-method-listing').DataTable({
			"order"		: 	[],
			"sDom"		:	"ftr",
			"serverSide": 	false,
			"scrollX"	: 	true,
			"paging"	:	false,
			"data"		:	JSON.parse('<%-JSON.stringify(result); %>'),
			"columns"	: 	[
				{ 	"data"		:	{},
					"orderable"	: 	false,
					"render" 	: 	function(result){
						var value 		=	(result.value)			?	result.value		:"";
						var countryCode = 	(result.country_code)	?	result.country_code	:"";
						return (value) ? countryCode+value :value;
					}
				},
				{ 	"data"		 : 'contact_name',
					"orderable"	 : false,
				},
				{ 	"data"		 : 'attribute_name',
					"orderable"	 : false,
				},				
				{ 	"data"		: 	"_id",
					"orderable" : 	false,
					"render" 	: 	function(id){
						var actionBtn = '';
						<% if(slug != BURGER_KING && slug != PIZZA_HUT){ %>
							/*  Edit Link  */
							actionBtn +=  '<a href="<%= originalUrl %>" data-action-url="<%=list_url+'/update_phone_number/'+branchId%>/'+id+'" data-open-modal="true" class="action-btn btn bg-indigo waves-effect ml-5 m-t-5 freezed_event hideMe"><%= __("system.edit"); %></a>';
							actionBtn += '<a href="javascript:void(0)" data-id="'+id+'" class="delete-phonenumber btn bg-red waves-effect ml-5 m-t-5 freezed_event hideMe"><%= __("system.delete"); %></a>';
						<% } %>	
						return actionBtn;
					}
				},
			],
			"drawCallback": function( settings ) {
				/** Call to freezed event **/
				updateFreezedEvent();
			}
		});


		/** Get area list*/
		$(document).on('click','.delete-phonenumber',function(){
			let phoneNumberId = $(this).attr("data-id");

			if(phoneNumberId){
				confirmBox("warning",'<%= __("system.are_you_sure"); %>','<%= __("branch_phones.you_want_to_delete_this_phone_number"); %>',function(result){
					if(result){
						/** Ajax options */
						var options = {
							url 	: 	'<%=list_url+'/delete_phone_number/'+branchId%>',
							data	:	{phone_number_id: phoneNumberId},
							method	:	"post"
						};
						ajaxRequest(options,function(response){
							if(response.status && response.message) notice(response.status,response.message);
							$(".branch-panel-link.active").find("a").trigger("click");
						});
					}
					swal.close();
				});
			}
		});
	});
</script>
