<%
	var isEditable 			 = is_editable;
	var itemUnitList         = item_unit_list;
	var result 	 	 		 = (result) ? result :{};
	var pendingChoiceGroupId = result._id;
	var formUrl 			 = (isEditable) ? list_url+"/edit/"+pendingChoiceGroupId : list_url+"/add";
%>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<form id="edit-pending-choice-group" action="<%=formUrl%>" data-submit-btn-id="pending-choice-group-edit-btn-id" method="post" class="on_click_submit" role="form">
			<div class="modal-dialog modal-dialog-centered modal-lg"  role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-seperator p-l-20 p-b-0">
						<h2 class="modal-title">
							<%= (isEditable) ?  __("choice_group.edit_choice_group")  : __("choice_group.add_choice_group")  %>
						</h2>
					</div>
					<div class="modal-body padding-20">
						<div class="row clearfix">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="item_unit_id" class="control-label">
											<%= __("pending_choice_group.item_unit_id"); %>
										</label>
										<select id="item_unit_id" class="form-control show-tick" name="item_unit_id" data-live-search="true">
											<option value=""><%=__("pending_choice_group.select_item_unit")%></option>
											<%-itemUnitList%>
										</select>
									</div>
									<span id="item_unit_id_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="order" class="control-label">
											<%= __("pending_choice_group.order"); %><span class="required"> *</span>
										</label>
										<input type="text" id="order" class="form-control" name="order" value="<%=(result.order) ? result.order :''%>"/>
										<span class="message demo-image-copyright"> <%=__("pending_choice_group.order_help_msg")%> </span>
									</div>
									<span id="order_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="group_name_english" class="control-label">
											<%= __("pending_choice_group.group_name_in_english"); %><span class="required"> *</span>
										</label>
										<input type="text" id="group_name_english" class="form-control" name="group_name_english" value="<%=(result.name) ? result.name.en :''%>"/>
									</div>
									<span id="group_name_english_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="group_name_arabic" class="control-label">
											<%= __("pending_choice_group.group_name_in_arabic"); %><span class="required"> *</span>
										</label>
										<input type="text" id="group_name_arabic" class="form-control" name="group_name_arabic" value="<%=(result.name) ? result.name.ar :''%>"/>
									</div>
									<span id="group_name_arabic_error" class="error"></span>
								</div>
							</div>
                        </div>
                        <div class="row clearfix">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="group_min_quantity" class="control-label">
											<%= __("pending_choice_group.group_min_quantity"); %><span class="required"> *</span>
										</label>
										<input type="text" id="group_min_quantity" class="form-control" name="group_min_quantity" value="<%=result.min_quantity%>"/>
									</div>
									<span id="group_min_quantity_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="group_max_quantity" class="control-label">
											<%= __("pending_choice_group.group_max_quantity"); %><span class="required"> *</span>
										</label>
										<input type="text" id="group_max_quantity" class="form-control" name="group_max_quantity" value="<%=result.max_quantity%>"/>
									</div>
									<span id="group_max_quantity_error" class="error"></span>
								</div>
							</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="group_description_in_english" class="control-label">
                                            <%= __("pending_choice_group.group_description_in_english"); %>
                                        </label>
                                        <textarea name="group_description_in_english" id="group_description_in_english" class="form-control height-100 resize-none"><%=(result.description) ? result.description.en :''%></textarea>
                                    </div>
                                    <span id="group_description_in_english_error" class="error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="group_description_in_arabic" class="control-label">
                                            <%= __("pending_choice_group.group_description_in_arabic"); %>
                                        </label>
                                        <textarea name="group_description_in_arabic" id="group_description_in_arabic" class="form-control height-100 resize-none"><%=(result.description) ? result.description.ar :''%></textarea>
                                    </div>
                                    <span id="group_description_in_arabic_error" class="error"></span>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="modal-footer modal-footer-seperator">
						<button type="button" id="pending-choice-group-edit-btn-id" class="btn bg-brown btn-sm waves-effect edit-pending-choice-group-btn-submit" <%- FRONT_LOADING_TEXT %> ><%= __("system.submit"); %></button>
						<a href="javascript:void(0);" data-dismiss="modal"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><%= __("system.cancel"); %></button></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){

	/** For refresh selectpicker*/
	$("#edit-pending-choice-group .show-tick").selectpicker('refresh');

	/**
	 * Function to submit form
	*/
	var isEditable =  <%=isEditable%>;
	$('.edit-pending-choice-group-btn-submit').click(function(){
		var btnId = $(this).attr('id');
        startTextLoading(btnId);
        ajax_submit('edit-pending-choice-group',function(status,response){
            if(status){
				if(isEditable){
					if(typeof dataTable !== typeof undefined) dataTable.ajax.reload(null, false);
					if(response.status && response.message) notice(response.status,response.message);
					$('#form_modal').modal("hide");
				}else{
					$("#reset").trigger("click");
				}
			}else{
				stopTextLoading(btnId);
			}
        });
	});
});
</script>
