<%
	var itemId 			 = item_id;
	var itemDetail 		 = item_detail;
	var restaurantDetail = restaurant_detail;
	var itemUnitList 	 = item_unit_list;
	var status 		  	 = itemDetail.status;
	var statusTitle	     = (STATUS_LABELS[status] && STATUS_LABELS[status].status_name) ? STATUS_LABELS[status].status_name :"";
	var statusClass      = (STATUS_LABELS[status] && STATUS_LABELS[status].class)	    ? STATUS_LABELS[status].class       :"";
%>
<% if(isRestaurant(module_type)){ %>
	<div class="alert bg-grey alert-dismissible submit-for-approval" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<%= __("items.once_you_made_any_changes_those_updated_items_will_be_listed"); %>
	</div>
<% } %>
<div class="row m-b-20">
	<div class="col-sm-12 dashboard_page ">
		<div class="marchant_file">
			<div class="restaurant_right p-l-0">
				<div class="heading_text">
					<h3><%= __('choice_group.item_details'); %></h3>
				</div>
				<div class="all_restaurant">
					<ul>
						<li>
							<label><%= __('choice_group.restaurant_name'); %></label>
							<span><%= restaurantDetail.default_name %></span>
						</li>
						<li>
							<label><%= __('choice_group.restaurant_number'); %></label>
							<span><%= restaurantDetail.restaurant_number %></span>
						</li>
						<li>
							<label><%= __('choice_group.item_name'); %></label>
							<span><%= itemDetail.name[DEFAULT_LANGUAGE_CODE] %></span>
						</li>
						<li>
							<label><%= __('choice_group.item_id'); %></label>
							<span><%= itemDetail.item_id %></span>
						</li>
						<li>
							<label><%= __('choice_group.item_status'); %></label>
							<span class="label m-l-15 col-white p-l-10 font-14 <%=statusClass%>"><%= statusTitle %></span>
						</li>
						<% if(status == REJECTED) { %>
							<li>
								<label><%= __('choice_group.reject_reason'); %></label>
								<span  class="nl2br rejection-class"><%= itemDetail.reject_reason%></span>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Search Start -->
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
			<div class="panel panel-col-pink">
				<div class="panel-heading" role="tab" id="panel-heading-id">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false" aria-controls="panel-collapse-id">
							<%= __("system.search"); %>
							<span class="pull-right collapse-toggle-icon"></span>
						</a>
					</h4>
				</div>
				<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
					<div class="panel-body">
						<form id="searchForm" name="searchForm" >
							<div class="row clearfix dataTables_wrapper">
								<!-- Search by group name in english -->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_0" onkeyup="searchDatatable(0)" placeholder="<%= __('choice_group.search_by_group_name_in_english'); %>" name="group_name_in_english">
										</div>
									</div>
								</div>
								<!-- Search by group name in arabic-->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_1" onkeyup="searchDatatable(1)" placeholder="<%= __('choice_group.search_by_group_name_in_arabic'); %>" name="group_name_in_arabic">
										</div>
									</div>
								</div>
								<!-- Search by item unit -->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<select class="form-control show-tick" name="item_unit" id="column_filter_4" data-live-search="true" onchange="searchDatatable(4)">
												<option value=""><%= __("extra_items.search_by_item_unit"); %></option>
												<%-itemUnitList%>
											</select>
										</div>
									</div>
								</div>
								<!-- reset button -->
								<div class="col-md-3">
									<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger">
										<%= __("system.reset")%>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Search End -->
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					<%=  __("choice_group.pending_choice_group"); %>
				</h2>
				<ul class="header-dropdown m-r--5 btn-right-top-margin">
					<li class="<%= getPermissionClass(module_type,["item","list"]); %>">
						<a href="<%=base_url%>pending_item">
							<button type="button" class="btn btn-sm bg-cyan waves-effect" >
								<%= __("system.back"); %>
							</button>
						</a>
					</li>
					<li class="<%= getPermissionClass(module_type,['item','extra_items']); %>">
						<a href="<%=base_url%>pending_extra_items/<%=itemId%>">
							<button type="button" class="btn btn-sm bg-purple waves-effect" >
								<%= __("choice_group.pending_extra_items"); %>
							</button>
						</a>
					</li>
					<% if((status != IN_REVIEW || !isRestaurant(module_type)) && slug != BURGER_KING && slug != PIZZA_HUT){ %>
						<li class="<%= getPermissionClass(module_type,['item','choice_group']); %>">
							<a href="<%= originalUrl %>" data-action-url="<%=list_url%>/add" data-open-modal="true" class="action-btn">
								<button type="button" class="btn btn-sm bg-indigo waves-effect" >
									<%= __("choice_group.add_choice_group"); %>
								</button>
							</a>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="body hideScroll">
				<table id="datatable-pending-choice-group" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th width="20%"><%= __("choice_group.group_name_in_english");%></th>
							<th width="20%"><%= __("choice_group.group_name_in_arabic");%></th>
                            <th width="13%"><%= __("choice_group.group_min_quantity");%></th>
                            <th width="13%"><%= __("choice_group.group_max_quantity");%></th>
                            <th width="12%"><%= __("choice_group.item_unit_id");%></th>
                            <th width="12%"><%= __("choice_group.order");%></th>
							<th width="10%"><%= __("system.action"); %></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="<%=WEBSITE_CSS_PATH%>jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="<%=WEBSITE_JS_PLUGIN_PATH%>chosen/chosen.css">
<script type="text/javascript" src="<%=WEBSITE_JS_PLUGIN_PATH%>chosen/chosen.jquery.js"></script>
<script type="text/javascript" src="<%=WEBSITE_JS_PATH%>jquery.mCustomScrollbar.js"></script>
<script type="text/javascript">
    var STATUS_LABELS = <%- JSON.stringify(STATUS_LABELS)%>;
	/** Function to initialize datatable and get server side data */
	var dataTable	=	"";
	$(document).ready(function() {
		$(".show-tick").selectpicker('refresh');
		dataTable = $('#datatable-pending-choice-group').DataTable({
			"bStateSave"	: true,
			"fnStateSave"	: function (oSettings, oData) {
				localStorage.setItem( 'DataTables', JSON.stringify(oData) );
			},
			"fnStateLoad"	: function (oSettings) {
				return JSON.parse( localStorage.getItem('DataTables') );
			},
			"order"		: 	[],
			"sDom"		:	"ltipr",
			"serverSide": 	true,
			"scrollX"	: 	true,
			"lengthMenu":	PAGING_LENGTH_MENU,
			"columns"	: 	[
				{ 	"data": 'name.en' },
                {	"data": 'name.ar' },
                { 	"data": 'min_quantity' },
                {	"data": 'max_quantity' },
                {	"data"		 : 'item_unit',
					"field_name" : "item_unit_id",
					"field_type" : "<%=OBJECT_ID_FIELD %>",
				},
				{	"data": 'order' },
				{
					"data"			: {},
					"orderable"		: false,
					"searchable"	: false,
					"render" 		: function(result){
						var id 	= (result._id) ? result._id :"";
						var dropDownButton 	=	''+
						'<div class="btn-group">'+
							'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
								'<%= __("admin.system.action"); %> '+
								'<span class="caret"></span>'+
							'</button>'+
							'<ul class="dropdown-menu">'+
								<% if((status != IN_REVIEW || !isRestaurant(module_type)) && slug != BURGER_KING && slug != PIZZA_HUT){ %>
									/** Edit Link **/
									'<li>'+
										'<a href="<%= originalUrl %>" data-action-url="<%=list_url%>/edit/'+id+'" data-open-modal="true"  class="action-btn waves-effect waves-block <%= getPermissionClass(module_type,["item","choice_group"]); %>">'+' <%= __("admin.system.edit"); %>'+
										'</a>'+
									'</li>'+
								<% } %>
								/** Add Extra Link **/
								'<li>'+
									'<a href="<%= originalUrl %>" data-action-url="<%=list_url%>/add_extra/'+id+'" data-open-modal="true"  class="action-btn waves-effect waves-block <%= getPermissionClass(module_type,["item","choice_group"]); %>">'+' <%= __("choice_group.add_extras"); %>'+
									'</a>'+
								'</li>'+
								/** Delete Link **/
								'<li>'+
									'<a href="javascript:void(0)" data-href="<%=list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box <%= getPermissionClass(module_type,["item","choice_group"]); %>" data-confirm-message="<%= __("choice_group.you_want_to_delete_this_pending_choice_group"); %>" data-confirm-heading="<%= __("system.are_you_sure") %>">'+
										' <%= __("system.delete"); %>'+
									'</a>'+
								'</li>'+
							'</ul>'+
						'</div>';
						return dropDownButton;
					}
				}
			],
			"ajax":{
				url 	:	"<%=list_url%>",
				type	: 	"POST",
				dataSrc	: 	function(result){
					setTimeout(()=>{
						dataTable.columns.adjust();
					},100);
					adjustPermissionsClass();
					return result.data;
				}
			},
		});
	});

	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query= $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	}//end searchDatatable()

</script>
<script type="text/javascript" src="<%=WEBSITE_JS_PATH%>datatable_state_storage.js"></script>
